<% if jenis_prose.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(jenis_prose.errors.count, "error") %> prohibited this inventory from being saved:</h2>

    <ul>
    <% jenis_prose.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :jenis_proses_code %>
  <%= form.text_field :jenisproses_code, class:"form-control", readonly: "readonly", value: jenis_prose.jenisproses_code.present? ? jenis_prose.jenisproses_code : JenisProse.get_jenis_proses_code %>
</div>

<div class="form-group">
  <%= form.label :jenis_proses_name %>
  <%= form.text_field :jenisproses_name, class: "form-control" %>
</div>