<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-box"></i></span>
        <span>List Jenis Proses</span>
      </div>
      <div>
        <%= link_to "Add New Jenis Proses", "javascript:voide(0);", :"data-link" => new_jenis_prose_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Add New Jenis Proses", class: "btn btn-success btn-custom launch-modal-inventory" %>
      </div>
    </div>
  </div>
  <div class="body-card">
    <%= form_for(jenis_proses_path, method: :get, remote: true) do %>
      <div class="row filter">
        <div class="col-md-8">
          <span>Show</span>
          <%= select_tag "per_page", options_for_select([[10, 10], [20, 20], [30, 30], [40, 40]], params[:per_page]), {class: "form-control show-entries"} %>
          <span>Entries</span>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="searcho" class="col-sm-2 col-form-label">Search:</label>
            <div class="col-sm-10"> 
              <div class="input-group mb-3">
                <%= text_field_tag "search", {}, class: "form-control", placeholder:"cari berdasakan nama jenis proses atau kode", value: params[:search] %>
                <div class="input-group-append">
                  <button type="submit"class="btn btn-outline-default btn-search" type="button"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'start_date', @start_date.to_date.strftime("%d-%m-%Y") %>
          <%= hidden_field_tag 'end_date', @end_date.to_date.strftime("%d-%m-%Y") %>
        </div>
      </div>
    <% end %>

    <div class="table-responsive center">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Kode</th>
            <th>Nama Jenis Proses</th>
            <th>Created By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if jenis_proses.blank? %>
            <tr><td colspan="7" class="center"> Data tidak ditemukan </td></tr>
          <% end %>
          <% jenis_proses.each_with_index do |jenis_prose, index| %>
            <tr>
              <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
              <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
              <td><%= jenis_prose.jenisproses_code %></td>
              <td><%= jenis_prose.jenisproses_name %></td>
              <td><%= jenis_prose.try(:user).try(:fullname) %></td>
              <td>
                
                <%= link_to raw("<i class='icon icon-edit'></i>"), "javascript:void();", :'data-link' => edit_jenis_prose_path(jenis_prose.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Update Jenis Proses #{jenis_prose.jenisproses_code}", class: "btn btn-outline-warning btn-action launch-modal-inventory" %>

                <%= link_to raw("<button class='btn btn-outline-danger btn-action'><i class='icon icon-trash'></i></button>"), jenis_prose_path(jenis_prose), method: :delete, data: {confirm: "Are you sure ?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="display:flex; justify-content: center;">
        <%= paginate jenis_proses %>
      </div>
      <%= page_entries_info jenis_proses, :entry_name => "Jenis Proses" %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "inventories.js" %>