<%= form_with(model: @jenis_prose, local: true) do |form| %>
  <%= render 'form', jenis_prose: @jenis_prose, form: form %>
  <div class="actions">
    <%= form.submit "Update Jenis Proses", class: "btn btn-custom btn-primary" %>
  </div>
<% end %>
