<%= form_with(model: @jenis_prose, local: !params[:from].eql?("orders"), remote: params[:from].eql?("orders")) do |form| %>
  <%= render 'form', jenis_prose: @jenis_prose, form: form %>
  <div class="actions">
    <%= hidden_field_tag :from, params[:from] %>
    <%= form.submit "Create Jenis Proses", class: "btn btn-custom btn-primary" %>
  </div>
<% end %>