<p id="notice"><%= notice %></p>

<p>
  <strong>Jenisproses code:</strong>
  <%= @jenis_prose.jenisproses_code %>
</p>

<p>
  <strong>Jenisproses name:</strong>
  <%= @jenis_prose.jenisproses_name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @jenis_prose.created_by %>
</p>

<p>
  <strong>Updated by:</strong>
  <%= @jenis_prose.updated_by %>
</p>

<%= link_to 'Edit', edit_jenis_prose_path(@jenis_prose) %> |
<%= link_to 'Back', jenis_proses_path %>
