<div id="login-section">
  <div id="form-login-box">
    <div class="header-login-box">
      <div class="logo">
        <img src="/assets/logo.png">
        <p class="title">Sign In To Admin</p>
      </div>
    </div>

    <div class="body-form-login">
      <p id="alert"><%= alert %></p>

      <%= form_tag sessions_path do |f| %>
        <div class="form-group">
          <%= text_field_tag :email, "", class: "form-control field-custom", placeholder: "Email" %>
        </div>
        <div class="form-group">
          <%= password_field_tag :password, "", class: "form-control field-custom", placeholder: "Password" %>
        </div>
        <div class="form-group">
          <div class="row">
            <div class="col-6">
              <p class="helper-login"><%= check_box_tag "remember" %> Remember Me</p>
            </div>
            <div class="col-6">
              <p class="float-right helper-login"><%= link_to "Forget Password ?", "#" %></p>
            </div>
          </div>
        </div>
        <div class="form-group submit-login">
          <%= submit_tag "Sign In", class: "btn btn-brand custom-btn-lg" %>
        </div>
      <% end %>
    </div>

  </div>
</div>