<% if inventory.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(inventory.errors.count, "error") %> prohibited this inventory from being saved:</h2>

    <ul>
    <% inventory.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :code %>
  <%= form.text_field :code, class:"form-control", readonly: "readonly", value: inventory.code.present? ? inventory.code : Inventory.get_inventory_code %>
</div>

<div class="form-group">
  <%= form.label :name %>
  <%= form.text_field :name, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :qty %>
  <%= form.text_field :qty, class: "form-control" %>
</div>