<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-box"></i></span>
        <span>List Inventory</span>
      </div>
      <div>
        <%= link_to "Add New Inventory", "javascript:voide(0);", :"data-link" => new_inventory_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Add New Inventory", class: "btn btn-success btn-custom launch-modal-inventory" %>
        <%= link_to raw("<i class='icon icon-print'></i> Print"), "javascript:voide(0);", :"data-link" => new_inventory_history_path, :'data-toggle' => 'modal', :'data-target' => '#modal_print', :'data-title' => "Buat Pengeluaran Barang", class: "btn btn-primary btn-custom" %>
      </div>
    </div>
  </div>
  <div class="body-card">
    <%= form_for(inventories_path, method: :get, remote: true) do %>
      <div class="row filter">
        <div class="col-md-8">
          <span>Show</span>
          <%= select_tag "per_page", options_for_select([[10, 10], [20, 20], [30, 30], [40, 40]], params[:per_page]), {class: "form-control show-entries"} %>
          <span>Entries</span>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="searcho" class="col-sm-2 col-form-label">Search:</label>
            <div class="col-sm-10"> 
              <div class="input-group mb-3">
                <%= text_field_tag "search", {}, class: "form-control", placeholder:"cari berdasakan nama barang atau nomor kode barang", value: params[:search] %>
                <div class="input-group-append">
                  <button type="submit"class="btn btn-outline-default btn-search" type="button"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'start_date', @start_date.to_date.strftime("%d-%m-%Y") %>
          <%= hidden_field_tag 'end_date', @end_date.to_date.strftime("%d-%m-%Y") %>
        </div>
      </div>
    <% end %>

    <div class="table-responsive center">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Barang</th>
            <th>Kode Barang</th>
            <th>qty (now)</th>
            <th>Create By</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if inventories.blank? %>
            <tr><td colspan="7" class="center"> Data tidak ditemukan </td></tr>
          <% end %>
          <% inventories.each_with_index do |inventory, index| %>
            <tr class="<%= 'table-danger' if inventory.qty < 5 %>">
              <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
              <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
              <td><%= inventory.name%></td>
              <td><%= inventory.code %></td>
              <td><%= inventory.qty %></td>
              <td><%= inventory.try(:user).try(:username) %></td>
              <td>
                <!-- <%= link_to raw("<i class='icon icon-search'></i>"), inventory_path(inventory.id)+"/detail", class: "btn btn-info btn-action" %> -->

                <!-- <%= link_to raw("<i class='icon icon-search'></i>"), "javascript:void();", :'data-link' => inventory_path(inventory), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "inventory #{inventory.code} | #{inventory.name}", class: "btn btn-info btn-action launch_modal" %> -->
                
                <%= link_to raw("<i class='icon icon-plus'></i>"), "javascript:void();", :'data-link' => add_inventories_path(inventory.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Tamba Stok #{inventory.code} | #{inventory.name}", class: "btn btn-outline-success btn-action launch-modal-inventory", title: "Tambah Qty Inventory" %>

                <%= link_to raw("<i class='icon icon-edit'></i>"), "javascript:void();", :'data-link' => edit_inventory_path(inventory.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Update inventory #{inventory.code}", class: "btn btn-outline-warning btn-action launch-modal-inventory", title: "Tambah Qty atau Kurangi Qty Inventory" %>

                <%= link_to raw("<button class='btn btn-outline-danger btn-action'><i class='icon icon-trash'></i></button>"), inventory_path(inventory), method: :delete, data: {confirm: "Are you sure ?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="display:flex; justify-content: center;">
        <%= paginate inventories %>
      </div>
      <%= page_entries_info inventories, :entry_name => "inventory" %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_print" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Print Inventory <%= "#{params[:start_date]} - #{params[:end_date]}" if params[:start_date].present? %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive center">
          <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Nama Barang</th>
            <th>Kode Barang</th>
            <th>Create By</th>
            <th>qty (now)</th>
          </tr>
        </thead>
        <tbody>
          <% if scopes.blank? %>
            <tr><td colspan="7" class="center"> Data tidak ditemukan </td></tr>
          <% end %>
          <% qty = 0 %>
          <% scopes.each_with_index do |inventory, index| %>
            <% qty += inventory.qty %>
            <tr class="<%= 'table-danger' if inventory.qty < 5 %>">
              <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
              <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
              <td><%= inventory.name%></td>
              <td><%= inventory.code %></td>
              <td><%= inventory.try(:user).try(:username) %></td>
              <td><%= inventory.qty %></td>
            </tr>
          <% end %>
          <tr>
            <td colspan="4" class="center">Total</td>
            <td><%= qty %></td>
          </tr>
        </tbody>
      </table>
        </div>
      </div>
      <div class="modal-footer">
        <a href='javascript:void(0)'>
          <button type='button' class='btn btn-primary btn-custom print' onclick="print()">Print</button>
        </a>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'filter_date' %>

<%= javascript_include_tag "inventories.js" %>