<%= form_with(model: @inventory, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :code %>
    <%= form.text_field :code, class:"form-control", readonly: "readonly", value: @inventory.code.present? ? @inventory.code : Inventory.get_inventory_code %>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control", readonly: "readonly" %>
    <%= hidden_field_tag :add_stok, "add_stok" %>
  </div>

  <div class="form-group">
    <%= form.label :qty %> : <%= @inventory.qty %>
    <%= form.text_field :qty, class: "form-control", placeholder: "Tambah Qty", value: "" %>
  </div>

  <div class="actions">
    <%= form.submit "Update Inventory", class: "btn btn-custom btn-primary" %>
  </div>
<% end %>
