<%= form_with(model: @inventory, local: true) do |form| %>
  <%= render 'form', inventory: @inventory, form: form %>
  <div class="actions">
    <%= form.submit "Update Inventory", class: "btn btn-custom btn-primary" %>
  </div>
<% end %>
