<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-docs"></i></span>
        <span>List Invoices</span>
      </div>
    </div>
  </div>
  <div class="body-card">
    <%= form_for(invoices_path, method: :get, remote: true) do %>
      <div class="row filter">
        <div class="col-md-8">
          <span>Show</span>
          <%= select_tag "per_page", options_for_select([[10, 10], [20, 20], [30, 30], [40, 40]], params[:per_page]), {class: "form-control show-entries"} %>
          <span>Entries</span>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="searcho" class="col-sm-2 col-form-label">Search:</label>
            <div class="col-sm-10"> 
              <div class="input-group mb-3">
                <%= text_field_tag "search", {}, class: "form-control", placeholder:"cari berdasakan nama customer atau nomor pesanan", value: params[:search] %>
                <div class="input-group-append">
                  <button type="submit"class="btn btn-outline-default btn-search" type="button"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'start_date', @start_date.to_date.strftime("%d-%m-%Y") %>
          <%= hidden_field_tag 'end_date', @end_date.to_date.strftime("%d-%m-%Y") %>
        </div>
      </div>
    <% end %>

    <div class="table-responsive center">
      <table class="table table-hover table-bordered">
        <thead>
          <tr>
            <th>No</th>
            <th>Invoice Number</th>
            <th>Customer Name</th>
            <th>Invoice Date</th>
            <th>Total</th>
            <th>Status</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <% if invoices.blank? %>
            <tr><td colspan="7" class="center"> Data tidak ditemukan </td></tr>
          <% end %>
          <% invoices.each_with_index do |invoice, index| %>
            <tr>
              <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
              <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
              <td><%= invoice.invoice_master_code %></td>
              <td><%= invoice.customer_name %></td>
              <td><%= invoice.invoice_date.to_date.strftime("%d %b %Y") %></td>
              <td><%= invoice.total_invoice %></td>
              <td><%= invoice.status_invoice %></td>
              <td>
                <%= link_to raw("<i class='icon icon-search'></i>"), invoice_path(invoice.id)+"/detail", class: "btn btn-info btn-action" %>

                <%= link_to raw("<i class='icon icon-print'></i>"), "javascript:void();", :'data-link' => invoice_path(invoice), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Invoice #{invoice.invoice_master_code} | #{invoice.customer_name}", class: "btn btn-info btn-action launch_modal" %>
                
                <%= link_to raw("<i class='icon icon-edit'></i>"), edit_invoice_path(invoice.id), :'data-link' => edit_invoice_path(invoice.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Update Invoice #{invoice.invoice_master_code}", class: "btn btn-outline-warning btn-action launch_modal" %>

                <%= link_to raw("<button class='btn btn-outline-danger btn-action'><i class='icon icon-trash'></i></button>"), invoice_path(invoice), method: :delete, data: {confirm: "Are you sure ?"} %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="display:flex; justify-content: center;">
        <%= paginate invoices %>
      </div>
      <%= page_entries_info invoices, :entry_name => "Invoice" %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "filter_date.js" %>
<%= javascript_include_tag "invoices.js" %>