<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <div class="card-white card-table">
      <div class="header-card">
        <div class="header-card-title">
          <div>
            <span class="header-icon"><i class="icon icon-doc-text"></i></span>
            <span>Invoice</span>
          </div>
          <div>
            <%= link_to raw("<i class='icon icon-edit'></i> Edit"), edit_invoice_path(@invoice.id), :'data-link' => edit_invoice_path(@invoice.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Update Invoice #{@invoice.invoice_master_code}", class: "btn btn-outline-warning btn-action launch_modal" %>
          </div>
        </div>
      </div>
      <div class="body-card">
        <div class="invoice-master-detail">
          <div class="row">
            <div class="col-md-3">Tanggal</div>
            <div class="col-md-9"><%= @invoice.created_at.to_date.strftime("%d %B %Y") %></div>
          </div>
          <div class="row">
            <div class="col-md-3">Code Invoice</div>
            <div class="col-md-9"><%= @invoice.invoice_master_code %></div>
          </div>
          <div class="row">
            <div class="col-md-3">Customer Name</div>
            <div class="col-md-9"><%= @invoice.customer.customer_name %></div>
          </div>
          <div class="row">
            <div class="col-md-3">Jumlah Transaksi</div>
            <div class="col-md-9"><%= @invoice.invoice_details.count %></div>
          </div>
          <div class="row">
            <div class="col-md-3">Total Invoice</div>
            <div class="col-md-9">Rp. <%= number_to_rupiah(@invoice.total_invoice) %></div>
          </div>
          <!-- <div class="row">
            <div class="col-md-3">Status</div>
            <div class="col-md-9"><%= @invoice.status_invoice.eql?('new') ? "BELUM LUNAS" : "LUNAS" %></div>
          </div> -->
          <% if @invoice.status_invoice.eql?('done') %>
            <div class="row">
              <div class="col-md-3">Tanggal Bayar</div>
              <div class="col-md-9"><%= @invoice.updated_at.to_date.strftime("%d %B %Y") %></div>
            </div>
          <% end %>
        </div>
        <div class="list-transaksi">
          <button class="btn btn-default color-purple martop trigger-transaksi"> List transaksi </button>
          <div class="row show-list-transaksi-master" style="display: none;">
            <% @invoice.invoice_details.each do |detail| %>
              <div class="col-md-12" style="border-top:1px dashed #adadad; padding:30px; margin-top:20px;">
                <div class="row">
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-4">
                        Nomor Surat Jalan :
                      </div>
                      <div class="col-md-6">
                        <%= link_to detail.order_invoice.invoice_number, orders_path(start_date: detail.order_invoice.created_at.to_date, search: detail.order_invoice.invoice_number) %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        Tanggal Transaksi :
                      </div>
                      <div class="col-md-8">
                        <%= detail.order_invoice.created_at.to_date.strftime("%d %B %Y") %>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="row">
                      <div class="col-md-4">
                        Total Transaksi :
                      </div>
                      <div class="col-md-8">
                        Rp. <%= number_to_rupiah(detail.order_invoice.total_invoice) %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        Total Cash :
                      </div>
                      <div class="col-md-8">
                        Rp. <%= number_to_rupiah(detail.order_invoice.cash) %>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-4">
                        Sisa Bayar :
                      </div>
                      <div class="col-md-8">
                        Rp. <%= number_to_rupiah(detail.order_invoice.left_payment) %>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <table class="table" style="border:0px;">
                      <tr>
                        <td style="border:0px;">Nama Barang</td>
                        <td style="border:0px;">Process</td>
                        <td style="border:0px;">qty</td>
                        <td style="border:0px;">Item price</td>
                        <td style="border:0px;">Total price</td>
                      </tr>
                      <% detail.order_invoice.order_item_details.each do |item| %>
                        <tr>
                          <td style="border:0px;"> <%= item.product_name %> </td>
                          <td style="border:0px;"> <%= item.process_name %> </td>
                          <td style="border:0px;"> <%= item.qty %> </td>
                          <td style="border:0px;"> <%= item.unit_price %> </td>
                          <td style="border:0px;"> <%= item.total_price %> </td>
                        </tr>
                      <% end %>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>


        <div class="row">
          <div class="col-md-12 right">
              <%= link_to raw("<i class='icon icon-print'></i> Print"), "javascript:void();", :'data-link' => invoice_path(@invoice), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Invoice #{@invoice.invoice_master_code} | #{@invoice.customer.customer_name}", class: "btn btn-info btn-action launch_modal" %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "invoices.js" %>