<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Loading...</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="card-white card-table">
          <div class="header-card">
            <div class="header-card-title">
              <div>
                <span class="header-icon"><i class="icon icon-doc-text"></i></span>
                <span>Invoice</span>
              </div>
            </div>
          </div>
          <div class="body-card">
            <%= form_for @invoice, :as => :post, :url => invoice_path(@invoice), remote: true do |f| %>
              <div class="invoice-master-detail">
                <div class="row">
                  <div class="col-md-3">Tanggal</div>
                  <div class="col-md-9"><%= @invoice.created_at.to_date.strftime("%d %B %Y") %></div>
                </div>
                <div class="row">
                  <div class="col-md-3">Code Invoice</div>
                  <div class="col-md-9"><%= @invoice.invoice_master_code %></div>
                </div>
                <div class="row">
                  <div class="col-md-3">Customer Name</div>
                  <div class="col-md-9"><%= @invoice.customer.customer_name %></div>
                </div>
                <div class="row">
                  <div class="col-md-3">Jumlah Transaksi</div>
                  <div class="col-md-9"><%= @invoice.invoice_details.count %></div>
                </div>
                <div class="row">
                  <div class="col-md-3">Total Invoice</div>
                  <div class="col-md-9">Rp. <%= number_to_rupiah(@invoice.total_invoice) %></div>
                </div>
                <div class="row">
                  <div class="col-md-3">Status</div>
                  <div class="col-md-9"><%= f.select :status_invoice, options_for_select([["Belum Lunas", "new"], ["Lunas", "done"]], @invoice.status_invoice), {}, class: "form-control", readonly: "readonly" %> </div>
                </div>
              </div>        
              <button type="submit" class="btn btn-primary color-purple martop trigger-transaksi"> Save </button>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>