$(".main-content").html("<%= escape_javascript(render('list', invoices: @invoices)) %>")
$('.time-filter').html("<%= params[:start_date].to_date.strftime('%d %b %Y') %> <%= ' - ' + params[:end_date].to_date.strftime('%d %b %Y') if params[:end_date].present? %>")
$("#filter-start-date").val("<%= params[:start_date].to_date.strftime('%d-%m-%Y') %>")
$("#filter-end-date").val("<%= params[:end_date].present? ? params[:end_date].to_date.strftime('%d-%m-%Y') : nil %>")
<% if params[:custom_date].present? %>
  $(".time-filter-tag").html("Tanggal: ")
  $(".btn-today").removeClass("btn-primary")
  $(".btn-month").removeClass("btn-primary")
  $(".btn-year").removeClass("btn-primary")
  $("#btn-custom-date").addClass("btn-primary")
<% else %>
  $("#btn-custom-date").removeClass("btn-primary")
<% end %>