<% if @login %>
  $("#modal_login_print").modal("hide")
  $(".print").attr("data-printcount", 1)
  alert("Data Login Berhasil")
  window.print()
<% else %>
  alert("Login gagal, kemungkinan user dan password salah atau user bukan superadmin!")
<% end %>