<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-doc"></i></span>
        <span>Create Invoice</span>
      </div>
    </div>
  </div>
  <div class="body-card">
    <%= form_for @invoice, :as => :post, :url => invoices_path, remote: true do |f| %>
      <%= f.hidden_field :status_invoice, value: "new" %>
      <%= f.hidden_field :created_user_id, value: @current_user.id %>
      <div class="form-group">
        <%= label_tag "Select Customer Name" %>
        <%= f.select :customer_id, options_for_select(@customers.map{|cs| [cs.customer_name, cs.id]}, params[:customer_id]), {include_blank: "-- Choose Customer --"}, {class: "form-control"} %>
      </div>
      <div class="list-transactions-select">
      </div>
    <% end %>
  </div>
</div>

<%= javascript_include_tag "invoices_new.js" %>