<style>
  .modal-body th{padding: 3px!important; color:black!important; font-size: 11pt; font-weight: bold;}
  .modal-body td{padding: 3px!important; color:black!important; font-size: 11pt; font-weight: bold;}
  .modal-body h4{font-size: 14pt}
  .modal-body {font-size: 14pt}
  .signature {font-size: 11pt; font-weight: bold; color: #000;}
  .center {text-align: center;}
  .big-font {font-size: 14pt; font-weight: bold;}
  .font-info-header {font-size:11pt; font-weight: bold;}
</style>
<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Loading...</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    
    <div class="invoice-detail">
      <div class="row">
        <div class="col-md-6">
          <h4 class="small-title" style="color:black!important;"> GREES DENIM </h4>
          <p style="margin-bottom: 0px; font-size:10pt; color:black!important; font-weight: bold;">Jl. Kp. Cikadu Tengah <br />
          Ds, Sukamulya Kec. Kutawaringin - Bandung <br />
          No. Telp. 0812 2122 2291, 0856 2445 556 <br />
          <%= Time.now.strftime("%d-%m-%Y %H:%M:%S") %>
        </div>
        <!-- <div class="col-md-3 font-info-header" style="float: right;">
          <div class="martop">Invoice Date :</div>
          <span><%= @invoice.created_at.to_date.strftime("%d %B %Y") %></span>

          <div class="martop">Invoice Id :</div>
          <span><%= @invoice.invoice_master_code %></span>
        </div>
        <div class="col-md-3 font-info-header" style="float: right;">
          <div class="martop">Billed To : </div>
          <div>
            <%= @invoice.try(:customer).try(:customer_name) %> <br />
            <%= @invoice.try(:customer).try(:address) %> <br />
            <%= @invoice.try(:customer).try(:phone) %> <br />
          </div>
        </div> -->
      </div>

      <div class="row" style="margin-top:5px;">
        <div class="col-md-12">
          <div class="center bold"><h4 class="big-font"><%= @invoice.status_invoice.eql?('new') ? "INVOICE" : "INVOICE" %></h4></div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <div style="display:flex; justify-content: space-between;">
            <div>
              <table>
                <tr><td>Customer</td> <td>:</td> <td><%= @invoice.try(:customer).try(:customer_name) %></td></tr>
              </table>
            </div>
            <div>
              <table>
                <tr>
                  <td>Tanggal</td>
                  <td>:</td>
                  <td><%= @invoice.created_at.to_date.strftime("%d %B %Y") %></td>
                </tr>
                <tr>
                  <td>No</td>
                  <td>:</td>
                  <td><%= @invoice.invoice_master_code %></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="row martop" style="margin-top:5px;">
        <div class="col-md-12">
          <table class="table table-bordered" style="border:0px; text-align: center;">
            <thead>
              <tr>
                <th>Tanggal</th>
                <th>Nomor Surat Jalan</th>
                <th>Nama Barang</th>
                <th>Process</th>
                <th>Qty</th>
                <th>Harga</th>
                <th>Jumlah</th>
              </tr>
            </thead>
            <tbody>
              <% invoice_details = find_invoice_detail(@invoice.id) %>
              <% order_number = Array.new %>
              <% total      = 0 %>
              <% total_cash = 0 %>
              <% total_pay = 0 %>
              <% total_qty = 0 %>
              <% invoice_details.each_with_index do |value, index| %>
                <tr>
                  <% unless order_number.include?(value.order_number) %>
                    <td rowspan="<%= value.order_total_item %>"><%= value.order_date.to_date.strftime("%d/%m/%Y") %></td>
                    <td rowspan="<%= value.order_total_item %>"><%= value.order_number %></td>
                  <% end  %>
                  <td><%= value.product_name %></td>
                  <td><%= value.process_name %></td>
                  <td><%= value.qty %></td>
                  <td>Rp. <%= number_to_rupiah(value.unit_price) %></td>
                  <td>Rp. <%= number_to_rupiah(value.total_price) %></td>
                  <% unless order_number.include?(value.order_number) %>
                    <!-- <td rowspan="<%# value.order_total_item %>">Rp. <%= number_to_rupiah(value.order_invoice) %></td>
                    <td rowspan="<%# value.order_total_item %>">Rp. <%= number_to_rupiah(value.cash) %></td>
                    <td rowspan="<%# value.order_total_item %>">Rp. <%= number_to_rupiah(value.left_payment) %></td>
                    <%# total_cash += value.cash.to_i %>
                    <%# total_pay  += value.left_payment.to_i %> -->
                    <% total     += value.order_invoice.to_i %>
                    <% order_number.push(value.order_number) %>
                  <% end %>
                  <% total_qty += value.qty.to_i %>
                </tr>
              <% end %>
              <!-- <tr>
                <td colspan="7" class="right" style="border: 0px;">Sub Total</td>
                <td colspan="3" style="border: 0px;">Rp. <%# number_to_rupiah(total) %></td>
              </tr>
              <tr>
                <td colspan="7" class="right" style="border: 0px;">Total Cash</td>
                <td colspan="3" style="border: 0px;">Rp. <%# number_to_rupiah(total_cash) %></td>
              </tr> -->
              <tr style="background-color: #; color:#fff;">
                <td colspan="4" class="left">Total</td>
                <td ><%= total_qty %></td>
                <td></td>
                <td>Rp. <%= number_to_rupiah(total) %></td>
              </tr>
            </tbody>
          </table>
        </div>
        <% if @invoice.status_invoice.eql?('done') %>
          <div class="col-md-12 center">
            * Dibayar pada tanggal <%= @invoice.updated_at.to_date.strftime("%d %B %Y") %>
          </div>
        <% end %>
      </div>

      <div class="row martop" style="margin-bottom: 40px;">
        <table>
          <tr><td>Note</td><td>:</td><td colspan="2">Lebih dari 1 minggu komplain tidak dilayani</td></tr>
          <tr><td></td><td></td><td colspan="2">Pembayaran di transfer ke rekening atas nama ibu <b>SARAH MARDIAH</b></td></tr>
          <tr><td></td><td></td><td><b># BCA</b></td><td>: 3790309536</td></tr>
          <tr><td></td><td></td><td><b># Mandiri</b></td><td>: 130 00 1552182 9</td></tr>
          <tr><td></td><td></td><td><b># BNI</b></td><td>: 0438001869</td></tr>
        </table>
      </div>

      <div style="width:100%; display: flex; justify-content: space-between;" class="signature">
        <div class="col-md-3">
          <p style="text-align:center;">Penerima</p>
          <div style="margin-top:70px; display:flex; justify-content: space-between;">
            <span style="padding-right: 100px;">(</span><span>)</span>
          </div>
        </div>

        <div class="col-md-3" style="float:right;">
          <p style="text-align:center;">Admin</p>
          <div style="margin-top:70px; display:flex; justify-content: space-between;">
            <span>(</span> <%= @current_user.fullname %> <span>)</span>
          </div>
        </div>
      </div>

    </div>

  </div>
  <div class="modal-footer">
    <button type='button' class='btn btn-secondary btn-custom' data-dismiss='modal'>Tutup</button> 
    <a href='javascript:void(0)'><button type='button' class='btn btn-primary btn-custom print' data-link="<%= print_count_invoices_path %>" data-invoiceid="<%= @invoice.id %>" data-printcount="<%= @invoice.print_count.present? ? @invoice.print_count + 1 : 1 %>">Print</button></a>
  </div>
</div>

<%= javascript_include_tag "invoices_show" %>