<style>
  table {border: 0px;}
  table th {border-top:0px !important; border-bottom:1px dashed #dadada!important;}
  table td {border: 0px !important;}
</style>
<div class="row">
  <div class="col-md-12">
    <h4 class="small-title" style="margin: 15px 0px 30px; text-align: center;">Pilih Transaksi</h4>
  </div>
  <div class="col-md-12">
    <table class="table table-hover">
        <thead>
          <th><input type="checkbox" id="check_all" ></th>
          <th>Tanggal</th>
          <th>Nama Customer</th>
          <th>Nomor Pesanan / No. Surat Jalan</th>
          <th>Total Item</th>
          <th>Qty Item</th>
          <!-- <th>Jatuh Tempo</th> -->
          <th>Cash</th>
          <th>Sisa Bayar</th>
          <th>Total Bayar</th>
          <th>Status</th>
        </thead>
        <% if @order_invoices.blank? %>
          <tr><td colspan="11" class="center"> Data transaksi customer <%= @customer.customer_name %> tidak ditemukan </td></tr>
        <% end %>
        <% @order_invoices.each_with_index do |order, index| %>
          <tr>
            <td><input type="checkbox" id="order_invoice_<%= order.id %>" class="order-invoice-check" name="post[invoice_details_attributes][]order_invoice_id" value="<%= order.id %>"></td>
            <td><%= (order.invoice_date + 7.hours).strftime("%d %b %Y %H:%M:%S") %></td>
            <td><%= order.customer_name %></td>
            <td><%= order.invoice_number %></td>
            <td><%= order.total_item %> ( <%= get_order_item(order.invoice_number) %> )</td>
            <td><%= order.total_qty_item %></td>
            <!-- <td><%= order.due_payment_date.strftime("%d %b %Y") %></td> -->
            <td><%= number_to_rupiah(order.cash) %></td>
            <td><%= number_to_rupiah(order.left_payment) %></td>
            <td><%= number_to_rupiah(order.total_invoice) %></td>
            <td><%= order.order_item_details.pluck(:status_order_item).uniq.include?("progress") ? "Progress" : "Completed" %></td>
          </tr>
        <% end %>
      </table>
  </div>
</div>
<div class="row">
  <div class="col-md-12 right">
    <button type="submit" class="btn btn-custom btn-primary btn-create-invoice">Create Invoice</button>
  </div>
</div>
<%= javascript_include_tag "invoices_new.js" %>