<% if inventory_history.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(inventory_history.errors.count, "error") %> prohibited this inventory_history from being saved:</h2>

    <ul>
    <% inventory_history.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :barang_inventory %>
  <%= form.select(:inventory_id, inventory.map{|iv| ["#{iv.name} | stok : #{iv.qty}", iv.id]}, {prompt: "-- Pilih Barang --"}, {class: "form-control"}) %>
</div>

<div class="form-group">
  <%= form.label :qty_out %>
  <%= form.number_field :qty, class: "form-control" %>
</div>


<div class="form-group">
  <%= form.label :nama_karyawan %>
  <%= form.text_field :employee_name, class: "form-control" %>
</div>

<%= form.hidden_field :history_date, value: Time.now %>
<%= form.hidden_field :history_type, value: "out" %>
<%= form.hidden_field :created_by, value: current_user.id %>