<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-docs"></i></span>
        <span>List Inventory Transaction</span>
      </div>
      <div>
        <%= link_to "Buat Pengeluaran Inventory", "javascript:voide(0);", :"data-link" => new_inventory_history_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Buat Pengeluaran Barang", class: "btn btn-success btn-custom launch-modal-inventory" %>

        <%= link_to raw("<i class='icon icon-print'></i> Print"), "javascript:voide(0);", :"data-link" => new_inventory_history_path, :'data-toggle' => 'modal', :'data-target' => '#modal_print', :'data-title' => "Buat Pengeluaran Barang", class: "btn btn-primary btn-custom" %>
      </div>
    </div>
  </div>
  <div class="body-card">
    <%= form_for(inventory_histories_path, method: :get, remote: true) do %>
      <div class="row filter">
        <div class="col-md-7">
          <span>Show</span>
          <%= select_tag "per_page", options_for_select([[10, 10], [20, 20], [30, 30], [40, 40]], params[:per_page]), {class: "form-control show-entries"} %>
          <span>Entries</span>
        </div>
        <div class="col-md-5">
          <div class="form-group row">
            <label for="searcho" class="col-sm-2 col-form-label">Search:</label>
            <div class="col-sm-4">
              <div class="input-group">
                <%= select_tag "type", options_for_select(["in", "out"], params[:type]), include_blank: "-- Tipe (In/Out) --", class: "form-control", style: "height:30px;" %>
              </div>
            </div>
            <div class="col-sm-6"> 
              <div class="input-group mb-3">
                <%= text_field_tag "search", {}, class: "form-control", placeholder:"cari berdasakan nama customer atau nomor pesanan", value: params[:search] %>
                <div class="input-group-append">
                  <button type="submit"class="btn btn-outline-default btn-search" type="button"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'start_date', @start_date.to_date.strftime("%d-%m-%Y") %>
          <%= hidden_field_tag 'end_date', @end_date.to_date.strftime("%d-%m-%Y") %>
        </div>
      </div>
    <% end %>

    <div class="table-responsive center">
      <table class="table table-hover table-binventory_historyed">
        <thead>
          <tr>
            <th>No</th>
            <th>Tanggal Masuk</th>
            <th>Tanggal Keluar</th>
            <th>Nama Barang</th>
            <th>Kode Barang</th>
            <th>qty</th>
            <th>Tipe Inventory</th>
            <th>Nama Karyawan</th>
            <th>Created By</th>
            <!-- <th>Action</th> -->
          </tr>
        </thead>
        <tbody>
          <% if inventory_histories.blank? %>
            <tr><td colspan="9" class="center"> Data tidak ditemukan </td></tr>
          <% end %>
          <% inventory_histories.each_with_index do |inventory_history, index| %>
            <tr>
              <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
              <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
              <td><%= inventory_history.in_date.try(:to_date).try(:strftime, "%d/%m/%Y") %></td>
              <td><%= inventory_history.out_date.try(:to_date).try(:strftime, "%d/%m/%Y") %></td>
              <td><%= inventory_history.item_name %></td>
              <td><%= inventory_history.item_code %></td>
              <td><%= inventory_history.in_out_qty %></td>
              <td><%= inventory_history.type %></td>
              <td><%= inventory_history.employee_name.present? ? inventory_history.employee_name.eql?("edited on master") ? inventory_history.type.eql?("in") ? "Inventory in (Edited on master)" : "Inventory out (Edited on master)" : inventory_history.employee_name : "(Inventory in)" %></td>
              <td><%= inventory_history.creator %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <div style="display:flex; justify-content: center;">
        <%= paginate inventory_histories %>
      </div>
      <%= page_entries_info inventory_histories, :entry_name => "Inventory History" %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_print" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Print Inventory <%= "#{params[:start_date]} - #{params[:end_date]}" if params[:start_date].present? %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive center">
          <table class="table table-hover table-inventory_history">
            <thead>
              <tr>
                <th>No</th>
                <th>Tanggal Masuk</th>
                <th>Tanggal Keluar</th>
                <th>Nama Barang</th>
                <th>Kode Barang</th>
                <th>qty</th>
                <th>Tipe Inventory</th>
                <th>Nama Karyawan</th>
                <th>Created By</th>
                <!-- <th>Action</th> -->
              </tr>
            </thead>
            <tbody>
              <% if inventory_histories.blank? %>
                <tr><td colspan="9" class="center"> Data tidak ditemukan </td></tr>
              <% end %>
              <% inventory_histories.each_with_index do |inventory_history, index| %>
                <tr>
                  <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
                  <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
                  <td><%= inventory_history.in_date.try(:to_date).try(:strftime, "%d/%m/%Y") %></td>
                  <td><%= inventory_history.out_date.try(:to_date).try(:strftime, "%d/%m/%Y") %></td>
                  <td><%= inventory_history.item_name %></td>
                  <td><%= inventory_history.item_code %></td>
                  <td><%= inventory_history.in_out_qty %></td>
                  <td><%= inventory_history.type %></td>
                  <td><%= inventory_history.employee_name.present? ? inventory_history.employee_name.eql?("edited on master") ? inventory_history.type.eql?("in") ? "Inventory in (Edited on master)" : "Inventory out (Edited on master)" : inventory_history.employee_name : "(Inventory in)" %></td>
                  <td><%= inventory_history.creator %></td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <a href='javascript:void(0)'>
          <button type='button' class='btn btn-primary btn-custom print' onclick="print()">Print</button>
        </a>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'filter_date.js' %>
<%= javascript_include_tag 'inventory_histories.js' %>