<%= form_with(model: @inventory_history, local: true) do |form| %>
  <%= render 'form', inventory_history: @inventory_history, form: form, inventory: @inventory %>
  <div class="actions">
    <%= form.submit "Create Inventory Out", class: "btn btn-custom btn-primary" %>
  </div>
<% end %>