<p id="notice"><%= notice %></p>

<p>
  <strong>Inventory:</strong>
  <%= @inventory_history.inventory_id %>
</p>

<p>
  <strong>Qty in:</strong>
  <%= @inventory_history.qty_in %>
</p>

<p>
  <strong>Date in:</strong>
  <%= @inventory_history.date_in %>
</p>

<p>
  <strong>Date out:</strong>
  <%= @inventory_history.date_out %>
</p>

<p>
  <strong>Type:</strong>
  <%= @inventory_history.type %>
</p>

<p>
  <strong>Employee name:</strong>
  <%= @inventory_history.employee_name %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @inventory_history.created_by %>
</p>

<%= link_to 'Edit', edit_inventory_history_path(@inventory_history) %> |
<%= link_to 'Back', inventory_histories_path %>
