<div class="alert"></div>
<%= form_with(model: @user, local: true) do |form| %>
  <%= render 'form', user: @user, form: form %>
  <div class="form-group">
    <%= form.submit "Update User", class: "btn btn-custom btn-success" %>
  </div>
<% end %>