<div class="f-header">
  <div class="left-col-header">    
      <% if @current_user %>
        <%= link_to raw("<button class='btn btn-custom btn-logout btn-space-icon'> <i class='icon icon-logout'></i> Logout</button>"), logout_path %>
      <% end %>
  </div>
  <div class="right-col-header">
    <a href="#" class="col-menu">
      <span class="icon-col-menu"><i class="icon icon-bell"></i></span>
    </a>
    <a href="#" class="col-menu">
      <% if @current_user %>
        <span class="welcome-text">Hi, <%= @current_user.fullname.present? ? @current_user.fullname.titleize : @current_user.username.present? ? @current_user.username.titleize : @current_user.email %></span>
      <% end %>
      <span class="icon-col-menu"><i class="icon icon-user-circle-o"></i></span>
    </a>
  </div>
</div>
<div class="f-sub-header">
  <div class="breadcrumbs">
    <ul class="breadcrumb-list clearfix">
      <li class="breadcrumb-item"><%= params[:controller].titleize %></li>
      <li class="breadcrumb-item"><%= params[:action].titleize %></li>
    </ul>
  </div>
  <% if !@hide_filter %>
    <div class="additional-menus">
      <div class="wrapper">
        <% params_for_request = Hash.new %>
        <% params.each do |key, value| %>
          <% params_for_request[key] = value unless key.eql?("action") && value.eql?("controller") %>
        <% end %>
        <%= link_to raw('<button class="btn btn-custom btn-transparent btn-today"> Today </button>'), request.path+"?start_date="+Date.today.to_s, class: "filter-date-today", remote: true %>
        <%= link_to raw('<button class="btn btn-custom btn-transparent btn-month"> Month </button>'), request.path+"?start_date="+Date.today.beginning_of_month.to_s+"&end_date="+Date.today.to_s, class: "filter-date-month", remote: true %>
        <%= link_to raw('<button class="btn btn-custom btn-transparent btn-year"> Year </button>'), request.path+"?start_date="+Date.today.beginning_of_year.to_s+"&end_date="+Date.today.to_s, class: "filter-date-year", remote: true %>

        
        <button id="btn-custom-date" class="btn btn-custom btn-custom btnc-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> 
          <span class="time-filter-tag"><%= params[:start_date].present? ? "Tanggal" : "This Week" %>: </span>
          <span class="color-purple time-filter"> <%= @start_date.to_date.strftime("%b %d") + ' - ' + @end_date.to_date.strftime("%b %d") if (@start_date.present? && @end_date.present?) or (params[:start_date].present? && params[:end_date].present?) %></span> 
          <i class="icon icon-calendar-check-o color-purple"></i> 
        </button>
        <div class="dropdown-menu">
          <div class="dropdown-select-date">
            <%= form_tag(request.path, method: :get, remote: true) do %>
              <div class="form-group">
                <label>Start Date:</label>
                <input type="text" class="form-control" id="filter-start-date" name="start_date" autocomplete="off" value="<%= @start_date.to_date.strftime('%d-%m-%Y') %>">
              </div>
              <div class="form-group">
                <label>End Date:</label>
                <input type="text" class="form-control" id="filter-end-date" name="end_date" autocomplete="off", value="<%= @end_date.to_date.strftime('%d-%m-%Y') %>">
                <%= hidden_field_tag "custom_date", "true" %>
              </div>
              <button type="submit" class="btn btn-custom btn-primary btn-close-date">Submit</button>
              <button type="button" class="btn btn-custom btn-default btn-close-date">Cancel</button>
            <% end %>
          </div>
        </div>
        <i class="icon icon-calendar"></i>
      </div>
    </div>
  <% end %>
</div>
