<div class="brand-sidebar">
  <div class="brand-logo">
    <a href="#">GREES DENIM</a>
  </div>
  <div class="icon-aside">
    <i class="icon icon-angle-double-left"></i>
  </div> 
</div>

<div class="menu-sidebar">
  <div class="wrapper-menu">
    <ul class="menu-lists">
      
      <% if list_role_menu.include?("Dashboard") %>
        <li class="item-menu">
          <%= link_to root_path, class: "link-item-menu #{(params[:controller] == 'home' && params[:action] == 'index') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon  icon-gauge"></i>
            </span>
            <span class="text-menu"> Dashboard </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("Create Transaction") %>
        <li class="item-menu-title">
          <h4>Order</h4>
        </li>
      <% end %>

      <% if list_role_menu.include?("Create Transaction") %>
        <li class="item-menu">
          <%= link_to new_order_path, class: "link-item-menu #{(params[:controller] == 'orders' && params[:action] == 'new') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-basket"></i>
            </span>
            <span class="text-menu"> Buat Pesanan Baru </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("List Transaction") %>
        <li class="item-menu">
          <%= link_to orders_path, class: "link-item-menu #{(params[:controller] == 'orders' && params[:action] == 'index' && params[:status].blank?) ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-th-large"></i>
            </span>
            <span class="text-menu"> List Semua Pesanan </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("List Transaction") %>
        <li class="item-menu">
          <%= link_to orders_path(:status=>"done"), class: "link-item-menu #{(params[:controller] == 'orders' && params[:action] == 'index' && params[:status].present?) ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-ok-circled2"></i>
            </span>
            <span class="text-menu"> List Pesanan Selesai </span>
          <% end %>        
        </li>
      <% end %>

      <% if list_role_menu.include?("List Transaction") %>
        <li class="item-menu">
          <%= link_to customer_achievements_path, class: "link-item-menu #{(params[:controller] == 'customer_achievements' && params[:action] == 'index') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-box"></i>
            </span>
            <span class="text-menu"> Customer Total Order </span>
          <% end %>        
        </li>
      <% end %>

      <% if list_role_menu.include?("Barang In Progress") %>
        <li class="item-menu">
          <%= link_to order_ins_path, class: "link-item-menu #{(params[:controller] == 'order_ins' && params[:action] == 'index') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-right-circled"></i>
            </span>
            <span class="text-menu"> Barang In Progress </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("Barang Completed") %>
        <li class="item-menu">
          <%= link_to order_outs_path, class: "link-item-menu #{(params[:controller] == 'order_outs' && params[:action] == 'index') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-left-circled"></i>
            </span>
            <span class="text-menu"> Barang Completed </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("Create Invoice") %>
        <li class="item-menu-title">
          <h4>Invoice</h4>
        </li>
      <% end %>

      <% if list_role_menu.include?("Create Invoice") %>
        <li class="item-menu">
          <%= link_to new_invoice_path, class: "link-item-menu #{(params[:controller] == 'invoices' && params[:action] == 'new') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-doc"></i>
            </span>
            <span class="text-menu"> Buat Invoice </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("List Invoice") %>
        <li class="item-menu">
          <%= link_to invoices_path, class: "link-item-menu #{(params[:controller] == 'invoices' && params[:action] == 'index') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-docs"></i>
            </span>
            <span class="text-menu"> Invoice </span>
          <% end %>
        </li>
      <% end %>

      <!-- <li class="item-menu-title">
        <h4>Report</h4>
      </li>

      <li class="item-menu">
        <a class="link-item-menu" href="#">
          <span class="wrap-icon-menu">
            <i class="icon icon-money"></i>
          </span>
          <span class="text-menu"> Laporan Invoice </span>
        </a>
      </li>

      <li class="item-menu">
        <a class="link-item-menu" href="#">
          <span class="wrap-icon-menu">
            <i class="icon icon-truck"></i>
          </span>
          <span class="text-menu"> Laporan Masuk & Keluar </span>
        </a>
      </li> -->

      <% if list_role_menu.include?("Master Inventory") %>
        <li class="item-menu-title">
          <h4>Inventory</h4>
        </li>
      <% end %>

      <% if list_role_menu.include?("Master Inventory") %>
        <li class="item-menu">
          <%= link_to inventories_path, class: "link-item-menu #{(params[:controller] == 'inventories') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-box"></i>
            </span>
            <span class="text-menu"> Inventory </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("History Inventory") %>
        <li class="item-menu">
          <%= link_to inventory_histories_path, class: "link-item-menu #{(params[:controller] == 'inventory_histories') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-exchange"></i>
            </span>
            <span class="text-menu"> History Inventory </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("Inventory Sampah") %>
        <li class="item-menu">
          <%= link_to trash_recordings_path, class: "link-item-menu #{(params[:controller] == 'trash_recordings') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-trash"></i>
            </span>
            <span class="text-menu"> Inventory Sampah </span>
          <% end %>
        </li>
      <% end %>

      <!-- <li class="item-menu">
        <%= link_to inventory_histories_path, class: "link-item-menu #{(params[:controller] == 'inventory_histories' && params[:type].blank? ) ? 'active-menu' : ''}" do %>
          <span class="wrap-icon-menu">
            <i class="icon icon-history"></i>
          </span>
          <span class="text-menu"> All History Inventory </span>
        <% end %>
      </li>

      <li class="item-menu">
        <%= link_to inventory_histories_path(type: "stok"), class: "link-item-menu #{(params[:controller] == 'inventory_histories' && params[:type] == "stok") ? 'active-menu' : ''}" do %>
          <span class="wrap-icon-menu">
            <i class="icon icon-clone"></i>
          </span>
          <span class="text-menu"> Stok Inventory </span>
        <% end %>
      </li> -->

      <li class="item-menu-title">
        <h4>Master Data</h4>
      </li>

      <% if list_role_menu.include?("Master Customer") %>
        <li class="item-menu">
          <%= link_to customers_path, class: "link-item-menu #{(params[:controller] == 'customers') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-users"></i>
            </span>
            <span class="text-menu"> Master Customer </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("Master Jenis Proses") %>
        <li class="item-menu">
          <%= link_to jenis_proses_path, class: "link-item-menu #{(params[:controller] == 'jenis_proses') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-shower"></i>
            </span>
            <span class="text-menu"> Master Jenis Proses </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("Master User") %>
        <li class="item-menu-title">
          <h4>User Management</h4>
        </li>
      <% end %>

      <% if list_role_menu.include?("Master User") %>
        <li class="item-menu">
          <%= link_to users_path, class: "link-item-menu #{(params[:controller] == 'customers') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-user"></i>
            </span>
            <span class="text-menu"> Master User </span>
          <% end %>
        </li>
      <% end %>

      <% if list_role_menu.include?("Role User") %>
        <li class="item-menu">
          <%= link_to roles_path, class: "link-item-menu #{(params[:controller] == 'roles') ? 'active-menu' : ''}" do %>
            <span class="wrap-icon-menu">
              <i class="icon icon-box"></i>
            </span>
            <span class="text-menu"> Role User </span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>