<% if notice.present? %>
  <div class="warning-section">
    <div class="warning-icon">
      <i class="icon icon-attention"></i>
    </div>
    <p>
      <%= notice %>
    </p>
  </div>
<% end %>

<div class="row">
  <div class="col-md-6 col-lg-3 ">
    <div class="box-info">
      <div class="icon-box-info">
        <i class="icon icon-doc-text"></i>
        <span> <%= total_invoice %> </span>
      </div>
      <div class="text-box-info">
        <h5>Pesanan</h5>
        <p><%= total_invoice %> Total Semua Pesanan </p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="box-info">
      <div class="icon-box-info color-aqua">
        <i class="icon icon-shopping-basket"></i>
        <span> <%= order_item %> </span>
      </div>
      <div class="text-box-info">
        <h5>Barang</h5>
        <p><%= order_item %> Total semua barang pesanan</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="box-info">
      <div class="icon-box-info color-purple" style="align-items: flex-start;">
        <!-- <i class="icon icon-dollar"></i> -->
        <span style="font-size:13pt; font-family: 'poppins-medium'">IDR</span>
        <span> <%= number_to_rupiah(income) %> </span>
      </div>
      <div class="text-box-info">
        <h5>Cash Pesanan</h5>
        <p>Rp <%= number_to_rupiah(income) %> Total cash pesanan yg telah dibayar</p>
      </div>
    </div>
  </div>

  <div class="col-md-6 col-lg-3">
    <div class="box-info">
      <div class="icon-box-info color-yellow">
        <i class="icon  icon-money"></i>
        <span> <%= number_to_rupiah(debt) %> </span>
      </div>
      <div class="text-box-info">
        <h5>Sisa Bayar</h5>
        <p>Rp <%= number_to_rupiah(debt) %> Total semua pesanan belum dibayar</p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-6">
    <div class="card-white">
      <div class="header-card">
        <h4>Daily Transaction</h4>
        <p>Check out each column for details</p>
      </div>
      <div class="body-card">
        <%= column_chart chart_invoice, colors: ['#49bc87'], height: "250px" %>
      </div>
    </div>
  </div>

  <div class="col-md-12 col-lg-6">
    <div class="card-white">
      <div class="header-card">
        <h4>Income</h4>
        <p>Invoice terbayar dan yang belum dibayar</p>
      </div>
      <div class="body-card">
        <%= pie_chart [["Total Cash", @income], ["Total Piutang", @debt]], colors: ['#5e84fc' ,'#fcc22f'], height: "250px" %>
      </div>
    </div>
  </div>
</div>