$('.main-content').html("<%= escape_javascript(render('dashboard', total_invoice: @total_invoice, order_item: @order_item, income: @income, debt: @debt, chart_invoice: @chart_invoice)) %>")
$('.time-filter').html("<%= params[:start_date].to_date.strftime('%d %b %Y') %> <%= ' - ' + params[:end_date].to_date.strftime('%d %b %Y') if params[:end_date].present? %>")