<div class="dashboard-section">
  <%= render 'dashboard', total_invoice: @total_invoice, order_item: @order_item, income: @income, debt: @debt, chart_invoice: @chart_invoice %>
</div>

<%= javascript_include_tag 'filter_date.js' %>
