<% if customer.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

    <ul>
    <% customer.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :customer_code %>
  <%= form.text_field :customer_code, class:"form-control", readonly: "readonly", value: customer.customer_code.present? ? customer.customer_code : Customer.get_customer_code %>
</div>

<div class="form-group">
  <%= form.label :customer_name %>
  <%= form.text_field :customer_name, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :address %>
  <%= form.text_field :address, class: "form-control" %>
</div>

<div class="form-group">
  <%= form.label :phone %>
  <%= form.text_field :phone, class: "form-control" %>
</div>