<div class="table-responsive">
  <table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th>Customer code</th>
        <th>Customer name</th>
        <th>Address</th>
        <th>Phone</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% if customers.blank? %>
      <tbody>
        <tr><td colspan="5" class="center">Data Tidak Ditemukan</td></tr>
      </tbody>
    <% end %>
    <tbody>
      <% customers.each do |customer| %>
        <tr>
          <td><%= customer.customer_code %></td>
          <td><%= customer.customer_name %></td>
          <td><%= customer.address %></td>
          <td><%= customer.phone %></td>
          <td><%= link_to 'Show', "javascript:void(0);", :"data-link" => customer_path(customer), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Detail Customer", :class => "launch-modal-customer" %></td>
          <td><%= link_to 'Edit', "javascript:void(0);", :"data-link" => edit_customer_path(customer), :"data-toggle" => "modal", :"data-target" => "#modal_show", :"data-title" => "Edit Customer #{customer.customer_name.upcase}", :class => "launch-modal-customer" %></td>
          <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>