<div class="row">
  <div class="col-md-12">
    <div class="warning-section">
      <div class="warning-icon">
        <i class="icon icon-attention"></i>
      </div>
      <p>
        <%= notice %>
      </p>
    </div>
  </div>
</div>