<div class="modal-header">
  <h5 class="modal-title"><%= params[:title] %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<%= form_with(model: @customer, remote: true) do |form| %>
  <div class="modal-body">
    <%= render 'form', customer: @customer, form: form %>
  </div>
  <div class="modal-footer">
    <%= form.submit "save", class: "btn btn-custom btn-primary" %>
  </div>
<% end %>
