<div class="notice-section">

</div>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-users"></i></span>
        <span>Data Customer</span>
      </div>
      <div>
        <%= link_to "New Customer", "javascript:voide(0);", :"data-link" => new_customer_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Add New Customer", class: "btn btn-success btn-action launch-modal-customer" %>
      </div>
    </div>
  </div>
  <div class="body-card">
    <div class="row filter">
      <div class="col-md-8">
        <span>Show</span>
        <select class="form-control show-entries">
          <option selected="selected">10</option>
          <option>20</option>
          <option>30</option>
          <option>40</option>
        </select>
        <span>Entries</span>
      </div>
      <div class="col-md-4">
        <div class="form-group row">
          <label for="search" class="col-sm-2 col-form-label">Search:</label>
          <div class="col-sm-10"> 
            <input type="text" name="search" class="form-control" placeholder="Search">
          </div>
        </div>
      </div>
    </div>

    <div class="list-customer">
      <%= render 'list', customers: @customers %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'customers' %>