<div class="modal-header">
  <h5 class="modal-title"><%= params[:title] %></h5>
  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="row">
    <div class="col-md-4">
      Customer code
    </div>
    <div class="col-md-8">
      : <%= @customer.customer_code %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Customer name
    </div>
    <div class="col-md-8">
      : <%= @customer.customer_name %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Address
    </div>
    <div class="col-md-8">
      : <%= @customer.address %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      Phone
    </div>
    <div class="col-md-8">
      : <%= @customer.phone %>
    </div>
  </div>
  
</div>
<div class="modal-footer">
  <button class="btn btn-default btn-custom" data-dismiss="modal">Close</button>
</div>