$('#modal_show').modal("hide")
$(".list-customer").html("<%= escape_javascript(render('list', customers: @customers))%>")
$(".notice-section").html("<%= escape_javascript(render('notice', notice: notice)) %>")