$('.main-content').html("<%= escape_javascript(render('list', order_items: @order_items, orders: @orders)) %>")
$('.time-filter').html("<%= params[:start_date].to_date.strftime('%d %b %Y') %> <%= ' - ' + params[:end_date].to_date.strftime('%d %b %Y') if params[:end_date].present? %>")
$("#filter-start-date").val("<%= params[:start_date] %>")
$("#filter-end-date").val("<%= params[:end_date] %>")