<div class="edit-order">
  <div class="row">
    <div class="col-md-6">
      <table class="table borderless-fix">
        <tr>
          <th>No. Surat Jalan</th>
          <th>:</th>
          <td><%= @order.invoice_number %></td>
        </tr>
        <tr>
          <th>Customer Name</th>
          <th>:</th>
          <td><%= @order.customer_name %></td>
        </tr>
        <tr>
          <th>Alamat</th>
          <th>:</th>
          <td><%= @order.customer_id.present? ? @order.customer.try(:address) : "Tidak tercantum" %></td>
        </tr>
      </table>
    </div>
    <div class="col-md-6">
      <table class="table borderless-fix">
        <tr>
          <th>Tgl Transaksi</th>
          <th>:</th>
          <td><%= @order.invoice_date.strftime("%d %B %Y") %></td>
        </tr>
        <tr>
          <th>Jumlah Barang</th>
          <th>:</th>
          <td><%= @order.total_item %></td>
        </tr>
        <tr>
          <th>Total Qty</th>
          <th>:</th>
          <td><%= @order.total_qty_item %></td>
        </tr>
        <tr>
          <th>Total Harga</th>
          <th>:</th>
          <td>Rp. <span id="total_harga"><%= @order.total_invoice %></span></td>
        </tr>
        <tr>
          <th>Cash</th>
          <th>:</th>
          <td>
            <div class="row" style="align-items: center; justify-content: center;">
              <div class="col-md-1" style="padding-left: 0px;">Rp.</div>
              <div class="col-md-10"> <%= f.text_field :cash, class: "form-control" %></div>
            </div>
          </td>
        </tr>
        <tr>
          <th>Sisa Bayar</th>
          <th>:</th>
          <td>
            Rp. <span id="sisa_bayar"><%= @order.left_payment %></span>
            <%= f.hidden_field :left_payment, class: "form-control" %></div>
          </td>
        </tr>
        <tr>
          <th>Status Transaksi</th>
          <th>:</th>
          <td><%= f.select :status_payment, options_for_select([["Belum Lunas", "debt"], ["Lunas", "done"]], @order.status_payment), {}, class: "form-control", readonly: "readonly" %></td>
        </tr>
      </table>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table borderless">
        <tr>
          <th>Nama Barang</th>
          <th>Proses</th>
          <th>Qty Barang</th>
          <th>Harga</th>
          <th>Total Harga</th>
          <th>Status Proses</th>
        </tr>
        <% if params[:action] == "new" %>
          <tr>
            
          </tr>
        <% else %>
          <%= f.fields_for :order_item_details do |f_item| %>
            <tr>
              <%= f_item.hidden_field :created_by, value: current_user.id %>
              <!-- <td><%= f_item.text_field :product_name, class: "form-control" %></td> -->
              <td><%= f_item.object.product_name %></td>
              <!-- <td><%= f_item.text_field :process_name, class: "form-control" %></td> -->
              <td><%= f_item.object.process_name %></td>
              <td width="100px"><%= f_item.text_field :qty, class: "form-control" %></td>
              <!-- <td><%= f_item.object.qty %></td> -->
              <!-- <td><%= f_item.text_field :unit_price, class: "form-control", readonly: "false" %></td> -->
              <td><%= f_item.object.unit_price %></td>
              <!-- <td><%= f_item.text_field :total_price, class: "form-control", :readonly => "readonly" %></td> -->
              <td><%= f_item.object.total_price %></td>
              <td><%= f_item.select :status_order_item,  options_for_select(["progress", "completed"], f_item.object.status_order_item), {}, {class: "form-control"} %></td>
            </tr>
          <% end %>
        <% end %>
      </table>
    </div>
  </div>
  <%= f.submit "Save", class: "btn btn-primary btn-custom float-right" %>
  <button type='button' class='btn btn-default btn-custom float-right' style="margin:0px 10px;" data-dismiss='modal'> Cancel </button>
</div>
<%= javascript_include_tag "order_update.js" %>