<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <span class="header-icon"><i class="icon icon-basket"></i></span>
      <h4>Transaksi</h4>
    </div>
  </div>
  <div class="body-card">
    <%= form_for(orders_path, method: :get, remote: true) do %>
      <div class="row filter">
        <div class="col-md-8">
          <span>Show</span>
          <%= select_tag "per_page", options_for_select([[10, 10], [20, 20], [30, 30], [40, 40]], params[:per_page]), {class: "form-control show-entries"} %>
          <span>Entries</span>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="searcho" class="col-sm-2 col-form-label">Search:</label>
            <div class="col-sm-10"> 
              <div class="input-group mb-3">
                <%= text_field_tag "search", {}, class: "form-control", placeholder:"cari berdasakan nama customer atau nomor pesanan", value: params[:search] %>
                <div class="input-group-append">
                  <button type="submit"class="btn btn-outline-default btn-search" type="button"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'start_date', @start_date.to_date.strftime("%d-%m-%Y") %>
          <%= hidden_field_tag 'end_date', @end_date.to_date.strftime("%d-%m-%Y") %>
        </div>
      </div>
    <% end %>

    <div class="table-responsive center">
      <table class="table table-hover table-bordered">
        <thead>
          <th>No</th>
          <th>Tanggal</th>
          <th>Nama Customer</th>
          <th>Nomor Pesanan / No. Surat Jalan</th>
          <th>Total Item</th>
          <th>Qty Item</th>
          <!-- <th>Jatuh Tempo</th> -->
          <th>Cash</th>
          <th>Sisa Bayar</th>
          <th>Total Bayar</th>
          <th>Status</th>
          <th>Created By</th>
          <th>Action</th>
        </thead>
        <% if orders.blank? %>
          <tr><td colspan="11" class="center"> Data tidak ditemukan </td></tr>
        <% end %>
        <% orders.each_with_index do |order, index| %>
          <tr>
            <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
            <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
            <td><%= (order.invoice_date + 7.hours).strftime("%d %b %Y %H:%M:%S") %></td>
            <td><%= order.customer_name %></td>
            <td><%= order.invoice_number %></td>
            <td><%= order.total_item %> ( <%= get_order_item(order.invoice_number) %> )</td>
            <td><%= order.total_qty_item %></td>
            <!-- <td><%= order.due_payment_date.strftime("%d %b %Y") %></td> -->
            <td><%= number_to_rupiah(order.cash) %></td>
            <td><%= number_to_rupiah(order.left_payment) %></td>
            <td><%= number_to_rupiah(order.total_invoice) %></td>
            <td><%= order.order_item_details.pluck(:status_order_item).uniq.include?("progress") ? "Progress" : "Completed" %></td>
            <td><%= order.try(:user).try(:username) %></td>
            <td>
              <%= link_to raw("<i class='icon icon-search'></i>"), "javascript:void();", :'data-link' => order_path(order), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Transaksi #{order.invoice_number}", class: "btn btn-info btn-action launch_modal" %>
              <% if order.order_item_details.pluck(:status_order_item).uniq.include?("progress") %>
                <%= link_to raw("<i class='icon icon-edit'></i>"), "javascript:void();", :'data-link' => edit_order_path(order.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Update Transaksi #{order.invoice_number}", class: "btn btn-outline-warning btn-action launch_modal" %>
              <% end %>
              <!-- <%= link_to raw("<button class='btn btn-outline-warning btn-action'><i class='icon icon-edit'></i></button>"), edit_order_path(order.id) %> -->
              <%= link_to raw("<button class='btn btn-outline-danger btn-action'><i class='icon icon-trash'></i></button>"), order_path(order), method: :delete, data: {confirm: "Are you sure ?"} %>
            </td>
          </tr>
        <% end %>
      </table>

      <div style="display:flex; justify-content: center;">
        <%= paginate orders %>
      </div>
      <%= page_entries_info orders, :entry_name => "Transaction" %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary btn-custom">Save changes</button> -->
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag 'order' %>
<%= javascript_include_tag 'filter_date' %>