<div class="<%= @class_order_item %> bortom">
  <div class="right">
    <%= link_to raw("<i class='icon icon-cancel'></i>"), "javascript:void(0);", class: "close-item", :"data-orderitem" => @class_order_item %></span>
  </div>
  <div class="form-group">
    <%= label_tag :nama_barang %>
    <%= text_field_tag "post[order_item_details_attributes][]product_name", "", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag :jenis_proses %>
    <%= text_field_tag "post[order_item_details_attributes][]process_name", "", class: "form-control", data: { autocomplete: get_jenis_proses_orders_path }, required: "required" %>
    <p class="new-customer-option"> Jenis Proses tidak ada ? <%= link_to "Tambah Jenis Proses baru", "javascript:void(0);", :"data-link" => new_jenis_prose_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Add New Jenis Proses", class: "add-new-customer launch-modal-customer" %> 
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :qty %>
        <%= text_field_tag "post[order_item_details_attributes][]qty", "", class: "form-control", id: "field-qty-#{@index}" %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= label_tag :Harga %>
        <%= text_field_tag "post[order_item_details_attributes][]unit_price", "", class: "form-control field-price", "data-target-total": "field-total-#{@index}", "data-target-qty": "field-qty-#{@index}" %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= label_tag :Total %>
    <%= text_field_tag "post[order_item_details_attributes][]total_price", "", class: "form-control field-total", id: "field-total-#{@index}", :readonly => "readonly" %>
  </div>
</div>
<%= javascript_include_tag "order_count_total.js" %>
<%= javascript_include_tag "order_add_item.js" %>