<div class="new-order">
  <div class="confirm-order-title">
    <h5 style="color:#50649c; margin-bottom:30px;">Konfirmasi Pesanan</h5>
  </div>
  <div class="card-white">
    <div class="body-card">

      <div class="row">
        <div class="col-md-4">
          <div class="row">
            <div class="col col-md-12">
              <div class="title-small">Nama Customer</div>
            </div>
            <div class="col col-md-12">
              <div class="value-small"><%= @params[:customer_name] %></div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <div class="title-small">Alamat Customer</div>
            </div>
            <div class="col col-md-12">
              <div class="value-small"><%= @params[:customer_id].present? ? get_customer_address(@params[:customer_id]) : "Masukan Alamat ?" %></div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <div class="title-small">Status Transaksi</div>
            </div>
            <div class="col col-md-12">
              <div class="value-small"><%= (@params[:left_payment] == 0) ? "Lunas" : "Belum Lunas" %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col col-md-12">
              <div class="title-small">Jumlah Barang</div>
            </div>
            <div class="col col-md-12">
              <div class="value-small"><%= @params[:total_item] %></div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <div class="title-small">Total Qty Barang</div>
            </div>
            <div class="col col-md-12">
              <div class="value-small"><%= @params[:total_qty_item] %></div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="row">
            <div class="col col-md-12">
              <div class="title-small">Tanggal Transaksi</div>
            </div>
            <div class="col col-md-12">
              <div class="value-small"><%= @params[:invoice_date].to_date.strftime("%d %B %Y") %></div>
            </div>
          </div>
          <div class="row">
            <div class="col col-md-12">
              <div class="title-small">No. Surat Jalan</div>
            </div>
            <div class="col col-md-12">
              <div class="value-small"><%= @params[:invoice_number] %></div>
            </div>
          </div>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table table-bordered">
          <thead>
            <tr>
              <th>Nama Barang</th>
              <th>Jenis Proses</th>
              <th>Qty</th>
              <th>Harga Satuan</th>
              <th>Total Harga</th>
            </tr>
          </thead>
          <tbody>
            <% @params[:order_item_details_attributes].each do |item| %>
            <tr>
              <td><%= item[:product_name] %></td>
              <td><%= item[:process_name] %></td>
              <td><%= item[:qty] %></td>
              <td><%= item[:unit_price] %></td>
              <td><%= item[:total_price] %></td>
            </tr>
            <% end %>
            <tr>
              <td colspan="4" class="right">Total Bayar</td>
              <td><%= @params[:total_invoice] %></td>
            </tr>
            <tr>
              <td colspan="4" class="right">Bayar Cash</td>
              <td><%= @params[:cash] %></td>
            </tr>
            <tr>
              <td colspan="4" class="right">Sisa Bayar</td>
              <td><%= @params[:left_payment] %></td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="row right">
        <div class="col-md-12">
          
          <%= button_to 'Konfirmasi Pemesanan', {:controller => "orders", :action => "create", :order_invoice => JSON.parse(@params.to_json)} , :method=>:post, :class => "btn btn-primary btn-custom", :remote => true %>

          <!-- <button class="btn btn-primary btn-custom"> Konfimasi Pemesanan</button> -->
        </div>
      </div>
      
    </div>
  </div>

</div>
<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary btn-custom">Save changes</button> --> 
      </div>
    </div>
  </div>
</div>