$.get( "<%= order_path(@order.id) %>?hide_footer=true", function( data ) {
  $(".confirm-order-title").html("<div class='alert alert-success' role='alert'><%= notice %></div>")
  $('.body-card').html(data)
  $('.body-card').after(' <%= escape_javascript(link_to raw("<i class='icon icon-print'></i> Print"), "javascript:void();", :'data-link' => order_path(@order.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Transaksi #{@order.invoice_number}", class: "btn btn-info btn-action launch_modal", style: "margin-top: 20px;")%>')
  $('body').append('<%= escape_javascript(javascript_include_tag "order.js") %>')
});