<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Loading...</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="col-md-12">
      <%= form_for @order, :as => :post, :url => order_path(@order), remote: true do |f| %>
        <%= render 'form', :f => f %>
      <% end %>
    </div>
  </div>
  <div class="modal-footer">
  </div>
</div>