<div class="modal fade" id="modal_login_print" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login Menggunakan Akun Supervisor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Surat Jalan ini telah di cetak sebelumnya, untuk mencetaknya kembali masukan login user yg berwenang</p>
        <%= form_tag login_check_print_orders_path, :remote => true do |f| %>
          <div class="form-group">
            <%= label_tag :email %>
            <%= text_field_tag :email, "", class: "form-control", placeholder: "Email" %>
          </div>
          <div class="form-group">
            <%= label_tag :password %>
            <%= password_field_tag :password, "", class: "form-control", placeholder: "Password" %>
          </div>
          <div class="form-group">
            <%= submit_tag "Confirm Login", class: "btn btn-custom btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>