<% if notice.present? %>
  <div class="warning-section">
    <div class="warning-icon">
      <i class="icon icon-attention"></i>
    </div>
    <p>
      <% if notice.is_a?(Array) %>
        <% notice.each do |warn, val| %>
          <p><%= warn.to_s + " " + val.first.to_s%></p>
        <% end %>
      <% else %>
        <%= notice %>
      <% end %>
    </p>
  </div>
<% end %>

<%= form_for @order, :as => :post, :url => confirm_new_orders_path do |f| %>
  <div class="row">
    <div class="col-md-4">
      <div class="card-white card-table">
        <div class="header-card">
          <div class="header-card-title">
            <h4>Item Summary</h4>
          </div>
        </div>
        <div class="body-card">
          <div class="order-item">
            <div class="order-item-0 bortom">
              <div class="form-group">
                <%= f.label :nama_barang %>
                <%= text_field_tag "post[order_item_details_attributes][]product_name", "", class: "form-control", required: "required" %>
              </div>
              <div class="form-group">
                <%= f.label :jenis_proses %>
                <%= text_field_tag "post[order_item_details_attributes][]process_name", "", class: "form-control", data: { autocomplete: get_jenis_proses_orders_path }, required: "required" %>
                <p class="new-customer-option"> Jenis Proses tidak ada ? <%= link_to "Tambah Jenis Proses baru", "javascript:void(0);", :"data-link" => new_jenis_prose_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Add New Jenis Proses", class: "add-new-customer launch-modal-customer" %> 
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :qty %>
                    <%= text_field_tag "post[order_item_details_attributes][]qty", "", class: "form-control", id: "field-qty-0", required: "required" %>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <%= f.label :Harga %>
                    <%= text_field_tag "post[order_item_details_attributes][]unit_price", "", class: "form-control field-price", "data-target-total": "field-total-0", "data-target-qty": "field-qty-0", required: "required" %>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <%= f.label :Total %>
                <%= text_field_tag "post[order_item_details_attributes][]total_price", "", class: "form-control field-total", id: "field-total-0", :readonly => "readonly", required: "required" %>
              </div>
            </div>
          </div>
          <div class="btn-for-add-item">
            <%= link_to raw("<span class='add-item' data-array='1'><i class='icon icon-plus'></i> Tambah Item</span>"), "javascript:void(0);" %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card-white card-table">
        <div class="header-card">
          <div class="header-card-title">
            <h4>Order Detail</h4>

            <div class="sub-date">
              <%= Time.now.strftime('%d %B %Y') %>
              <%= f.hidden_field :invoice_date, readonly: "readonly", value: Time.now %>
            </div>
          </div>
        </div>
        <div class="body-card">
          <div class="form-group">
            <%= label_tag :order_number %>
            <%= f.text_field :invoice_number, class: "form-control", readonly: "readonly", value: OrderInvoice.get_invoice_number.present? ? OrderInvoice.get_invoice_number.upcase : nil, required: "required" %>
          </div>

          <div class="form-group">
            <%= label_tag :customer_name %>
            <%= f.text_field :customer_name, class: "form-control", data: { autocomplete: get_customers_orders_path, target:"post_customer_id" }, placeholder: "Cari customer", required: "required" %>
            <%= f.hidden_field :customer_id, required: "required" %>
            <p class="invalid-customer">Data customer tidak ditemukan, tambah customer bila customer baru</p>
            <p class="new-customer-option"> Customer tidak ada ? <%= link_to "Tambah customer baru", "javascript:void(0);", :"data-link" => new_customer_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Add New Customer", class: "add-new-customer launch-modal-customer" %> </p>
          </div>

          <div class="form-group">
            <%= label_tag :total_bayar %>
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text normalize-font" id="basic-addon1">Rp</span>
              </div>
              <%= f.text_field :total_invoice, class: "form-control", readonly: "readonly", required: "required" %>
            </div>
          </div>

          <div class="form-group">
            <%= label_tag :cash, "Jumlah Bayar" %>
            <%= f.text_field :cash, class: "form-control", required: "required" %>
          </div>
        </div>
        <div class="footer-card">
          <div class="left">
            <div class="description-pay normalize-font">Kembalian / Sisa yang dibayar</div>
            <h4 class="red">Rp <span id="change"> 0 </span></h4>
          </div>
          <div class="right">
            <%= f.submit "Order", class: "btn btn-success"  %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% end %>
<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary btn-custom">Save changes</button> --> 
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag "order_add_item.js" %>
<%= javascript_include_tag "order_count_total.js" %>
<%= javascript_include_tag "customers.js" %>