<style>
  .modal-body th{padding: 3px!important; color:black!important; font-size: 12pt; font-weight: bold;}
  .modal-body td{padding: 3px!important; color:black!important; font-size: 12pt; font-weight: bold;}
  .modal-body h4{font-size: 16pt}
  .modal-body {font-size: 16pt}
  .signature {font-size: 11pt; font-weight: bold; color: #000;}
</style>
<div class="modal-content">
  <div class="modal-header">
    <% if params[:hide_footer].blank? %>
      <h5 class="modal-title">Loading...</h5>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    <% end %>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <h4 class="small-title" style="color:black!important;"> GREES DENIM </h4>
        <p style="margin-bottom: 0px; font-size:10pt; color:black!important; font-weight: bold;">Jl. Kp. Cikadu Tengah <br />
        Ds, Sukamulya Kec. Kutawaringin - Bandung <br />
        No. Telp. 0812 2122 2291, 0856 2445 556 <br />
        <%= Time.now.strftime("%d-%m-%Y %H:%M:%S") %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <h5 style="color:#50649c; margin-bottom:2px; text-align: center; text-decoration: underline; ">SURAT JALAN KELUAR</h5>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th>No. Surat Jalan</th>
            <th>:</th>
            <td><%= @order.invoice_number %></td>
          </tr>
          <tr>
            <th>Customer Name</th>
            <th>:</th>
            <td><%= @order.customer_name %></td>
          </tr>
          <tr>
            <th>Alamat</th>
            <th>:</th>
            <td><%= @order.customer_id.present? ? @order.customer.try(:address) : "Tidak tercantum" %></td>
          </tr>
        </table>
      </div>
      <div class="col-md-6">
        <table class="table">
          <tr>
            <th>Tgl Transaksi</th>
            <th>:</th>
            <td><%= @order.invoice_date.strftime("%d %B %Y") %></td>
          </tr>
          <tr>
            <th>Jumlah Barang</th>
            <th>:</th>
            <td><%= @order.total_item %></td>
          </tr>
          <tr>
            <th>Total Qty</th>
            <th>:</th>
            <td><%= @order.total_qty_item %></td>
          </tr>
          <!-- <tr>
            <th>Status Transaksi</th>
            <th>:</th>
            <td><%= (@order.status_payment == 'debt') ? "Belum Lunas" : "Lunas" %></td>
          </tr> -->
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <table class="table table-bordered ">
          <thead>
            <tr class="bg-primary white">
              <th>Nama Barang</th>
              <th>Proses</th>
              <th>Qty</th>
              <th>Notes</th>
              <!-- <th>Harga</th>
              <th>Total Harga</th> -->
            </tr>
          </thead>
          <tbody>
            <% @order_items.each do |item| %>
              <tr>
                <td> <%= item.product_name %> </td>
                <td> <%= item.process_name %> </td>
                <td> <%= item.qty %> </td>
                <td> <%= item.note.present? ? item.note : "-" %> </td>
                <!-- <td>Rp. <%= number_to_rupiah(item.unit_price) %></td>
                <td class="right">Rp. <%= number_to_rupiah(item.total_price) %></td> -->
              </tr>
            <% end %>
            <!-- <tr>
              <td colspan="4" class="right"> Total Tagihan </td>
              <td class="right">Rp. <%= number_to_rupiah(@order.total_invoice) %> </td>
            </tr>
            <tr>
              <td colspan="4" class="right"> Jumlah Cash </td>
              <td class="right">Rp. <%= number_to_rupiah(@order.cash) %> </td>
            </tr>
            <tr class="table-secondary">
              <th colspan="4" class="right"> Sisa Bayar </th>
              <th class="right">Rp. <%= number_to_rupiah(@order.left_payment) %> </th>
            </tr> -->
          </tbody>
        </table>
      </div>

      <div style="width:100%; display: flex; justify-content: space-between; color:black!important;" class="signature">
        <div class="col-md-3">
          <p style="text-align:center;">Penerima</p>
          <div style="margin-top:70px; display:flex; justify-content: space-between;">
            <span style="padding-right: 100px;">(</span><span>)</span>
          </div>
        </div>

        <div class="col-md-3" style="float:right; color:black!important;">
          <p style="text-align:center;">Admin</p>
          <div style="margin-top:70px; display:flex; justify-content: space-between;">
            <span>(</span> <%= @current_user.fullname %> <span>)</span>
          </div>
        </div>
      </div>

    </div>
  </div>
  <% if params[:hide_footer].blank? %>
    <div class="modal-footer">
      <button type='button' class='btn btn-secondary btn-custom' data-dismiss='modal'>Tutup</button> 
      <a href='javascript:void(0)'>
        <button type='button' class='btn btn-primary btn-custom print' data-link="<%= print_count_orders_path %>" data-orderid="<%= @order.id %>" data-printcount="<%= @order.print_count.present? ? @order.print_count + 1 : 1 %>">Print</button>
      </a>
    </div>
  <% end %>
</div>

<%= javascript_include_tag "order_show.js" %>
<%= stylesheet_link_tag "application", :media => "all" %>