<% if role.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(role.errors.count, "error") %> prohibited this role from being saved:</h2>

    <ul>
    <% role.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="form-group">
  <%= form.label :name_role %>
  <%= form.text_field :name_role, class:"form-control" %>
</div>
<% if params[:action] == "new" %>
  <% @menus.each do |menu| %>
    <div class="form-group">
      <input type="checkbox" id="role_users_<%= menu.id %>" class="role-menu-check" name="role[role_users_attributes][]menu_id" value="<%= menu.id %>"> <%= menu.menu_name %>
    </div>
  <% end %>
<% else %>
  <% menu_ids = Menu.pluck(:id) %>
  <%= form.fields_for :role_users do |role_user| %>
    <div class="form-group">
      <input type="checkbox" id="role_users_<%= role_user.object.menu_id %>" class="role-menu-check" name="role[role_users_attributes][]menu_id" value="<%= role_user.object.menu_id %>" checked="true"> <%= role_user.object.menu.menu_name %>
      <% menu_ids.delete(role_user.object.menu_id) if menu_ids.include?(role_user.object.menu_id) %>
    </div>
  <% end %>
  <% menus = Menu.where("id in (?)", menu_ids) %>
  <% menus.each do |menu| %>
    <div class="form-group">
      <input type="checkbox" id="role_users_<%= menu.id %>" class="role-menu-check" name="role[role_users_attributes][]menu_id" value="<%= menu.id %>"> <%= menu.menu_name %>
    </div>
  <% end %>

<% end %>