<div class="alert"></div>
<%= form_tag("/roles/#{@role.id}/update_role_user", :method => :post) do  %>
  <div class="form-group">
    <%= label_tag :name_role %>
    <%= text_field_tag 'role[name_role]', {}, class:"form-control", value: @role.name_role %>
  </div>

  <% menu_ids = Menu.pluck(:id) %>
  <% role_users = @role.role_users %>
  
  <% role_users.each do |role_user| %>
    <div class="form-group">
      <input type="checkbox" id="role_users_<%= role_user.menu.id %>" class="role-menu-check" name="role[role_users_attributes][]menu_id" value="<%= role_user.menu.id %>" checked="true">
      <%= label_tag "#{role_user.menu.menu_name} | #{role_user.menu.id}" %>
      <% menu_ids.delete(role_user.menu_id) if menu_ids.include?(role_user.menu_id) %>
    </div>
  <% end %>

  <% menus = Menu.where("id in (?)", menu_ids) %>
  <% menus.each do |menu| %>
    <div class="form-group">
      <input type="checkbox" id="role_users_<%= menu.id %>" class="role-menu-check" name="role[role_users_attributes][]menu_id" value="<%= menu.id %>">
      <%= label_tag "#{menu.menu_name} | #{menu.id}" %>
    </div>
  <% end %>

  <div class="form-group">
    <%= submit_tag "Update Role", class: "btn btn-custom btn-success" %>
  </div>
<% end %>