<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-basket"></i></span>
        <span>Roles</span>
      </div>
      <div>
        <%= link_to "Add New Role", "javascript:voide(0);", :"data-link" => new_role_path, :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Add New Role", class: "btn btn-success btn-custom launch-modal-role" %>
      </div>
    </div>
  </div>
  <div class="body-card">
    <%= form_for(users_path, method: :get, remote: true) do %>
      <div class="row filter">
        <div class="col-md-8">
          <span>Show</span>
          <%= select_tag "per_page", options_for_select([[10, 10], [20, 20], [30, 30], [40, 40]], params[:per_page]), {class: "form-control show-entries"} %>
          <span>Entries</span>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <label for="searcho" class="col-sm-2 col-form-label">Search:</label>
            <div class="col-sm-10"> 
              <div class="input-group mb-3">
                <%= text_field_tag "search", {}, class: "form-control", placeholder:"cari berdasakan nama Role atau nomor", value: params[:search] %>
                <div class="input-group-append">
                  <button type="submit"class="btn btn-outline-default btn-search" type="button"><i class="icon icon-search"></i></button>
                </div>
              </div>
            </div>
          </div>
          <%= hidden_field_tag 'start_date', @start_date.to_date.strftime("%d-%m-%Y") %>
          <%= hidden_field_tag 'end_date', @end_date.to_date.strftime("%d-%m-%Y") %>
        </div>
      </div>
    <% end %>

    <div class="table-responsive center">
      <table class="table table-hover table-busered">
        <thead>
          <th>No</th>
          <th>Nama Role</th>
          <th>Hak Akses</th>
          <th>Action</th>
        </thead>
        <% if @roles.blank? %>
          <tr><td colspan="11" class="center"> Data tidak ditemukan </td></tr>
        <% end %>
        <% @roles.each_with_index do |role, index| %>
          <tr>
            <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
            <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
            <td><%= role.name_role %></td>
            <td align="left">
              <% role.role_users.each_with_index do |ru, index| %>
                <%= ru.menu.menu_name %>
                <<%= "br " if role.role_users.count != index+1 %>/>
              <% end %>
            </td>
            <td>
              <%= link_to raw("<i class='icon icon-edit'></i>"), "javascript:void();", :'data-link' => edit_role_path(role.id), :'data-toggle' => 'modal', :'data-target' => '#modal_show', :'data-title' => "Update Role #{role.name_role}", class: "btn btn-outline-warning btn-action launch-modal-role" %>

              <%= link_to raw("<button class='btn btn-outline-danger btn-action'><i class='icon icon-trash'></i></button>"), role_path(role), method: :delete, data: {confirm: "Are you sure ?"} %>
            </td>
          </tr>
        <% end %>
      </table>

      <div style="display:flex; justify-content: center;">
        <%= paginate @roles %>
      </div>
      <%= page_entries_info @roles, :entry_name => "Roles" %>
    </div>
  </div>
</div>

<div class="modal fade" id="modal_show" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Loading...</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="loading">
          <img src="/assets/loading.gif">
        </div>
      </div>
      <div class="modal-footer">
        <!-- <button type="button" class="btn btn-primary btn-custom">Save changes</button> --> 
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "role.js" %>