<div class="alert"></div>
<%= form_with(model: @role, method: :post, local: true) do |form| %>
  <%= render 'form', role: @role, form: form %>
  <div class="form-group">
    <%= form.submit "Create Role", class: "btn btn-custom btn-success" %>
  </div>
<% end %>