<%= form_for(trash_recordings_path, method: :get, remote: true) do %>
  <div class="row filter">
    <div class="col-md-8">
      <span>Show</span>
      <%= select_tag "per_page", options_for_select([[10, 10], [20, 20], [30, 30], [40, 40]], per_page), {class: "form-control show-entries"} %>
      <span>Entries</span>
    </div>
    <div class="col-md-4">
      <div class="form-group row">
        <label for="searcho" class="col-sm-2 col-form-label">Search:</label>
        <div class="col-sm-10"> 
          <div class="input-group mb-3">
            <%= text_field_tag "search", {}, class: "form-control", placeholder:"Cari berdasarkan nama barang inventory", value: search %>
            <div class="input-group-append">
              <button type="submit"class="btn btn-outline-default btn-search" type="button"><i class="icon icon-search"></i></button>
            </div>
          </div>
        </div>
      </div>
      <%= hidden_field_tag 'start_date', start_date.present? ? start_date.to_date.strftime("%d-%m-%Y") : nil %>
      <%= hidden_field_tag 'end_date', end_date.present? ? end_date.to_date.strftime("%d-%m-%Y") : nil %>
    </div>
  </div>
<% end %>