<%= form_with(model: trash_recording, local: true, remote: true) do |form| %>
  <% if trash_recording.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(trash_recording.errors.count, "error") %> prohibited this trash_recording from being saved:</h2>

      <ul>
      <% trash_recording.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :inventory_id %>
    <%= form.select(:inventory_id, inventories.map{|iv| [iv.name_code, iv.id]}, {prompt: "-- Pilih Barang --"}, {class: "form-control"}) %>
  </div>

  <div class="form-group">
    <%= form.label :qty_trash %>
    <%= form.number_field :qty, class: "form-control", style: "width: 150px;" %>
  </div>

  <div class="actions">
    <%= form.submit "Save", class: "btn btn-success btn-custom" %>
  </div>
<% end %>
