<div class="table-responsive center">
  <table class="table table-hover table-busered">
    <thead>
      <tr>
        <th>No</th>
        <th>Trash Date</th>
        <th>Inventory (Barang)</th>
        <th>Created By</th>
        <th>Qty</th>
      </tr>
    </thead>
    <tbody>
      <% trash_recordings.each_with_index do |trash, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= trash.trash_date.try(:to_date).try(:strftime, "%d %B %Y") %></td>
          <td><%= trash.try(:inventory).try(:name) %></td>
          <td><%= trash.try(:user).try(:fullname) %></td>
          <td><%= trash.qty %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
