<% if notice.present? %>
  <%= render 'flash', notice: notice %>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-box"></i></span>
        <span>List Inventory</span>
      </div>
      <div>
        <%= link_to "Add Trash Record", "javascript:voide(0);", data: {link: new_trash_recording_path, toggle: 'modal', target: '#modal_show', title: "Add new trash record"}, class: "btn btn-success btn-custom launch-modal-trash-record" %>

        <%= link_to raw("<i class='icon icon-print'></i> Print"), "javascript:voide(0);", :"data-link" => new_inventory_history_path, :'data-toggle' => 'modal', :'data-target' => '#modal_print', :'data-title' => "Buat Pengeluaran Barang", class: "btn btn-primary btn-custom" %>
      </div>
    </div>
  </div>
  <div class="body-card">
    <div class="filter-trash">
      <%= render 'filter', per_page: params[:per_page], start_date: params[:start_date], end_date: params[:end_date], search: params[:search], status: params[:status], inventory_id: params[:inventory_id] %>
    </div>
    <div class="list-trash-record">
      <%= render 'list', trash_recordings: @trash_recordings %>
    </div>
  </div>
</div>

<div id="modal-for-trash">
  <%= render 'modal' %>
</div>

<div class="modal fade" id="modal_print" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document" style="max-width: 990px;">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Print Inventory <%= "#{params[:start_date]} - #{params[:end_date]}" if params[:start_date].present? %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="table-responsive center">
          <table class="table table-hover table-busered">
            <thead>
              <tr>
                <th>No</th>
                <th>Trash Date</th>
                <th>Inventory (Barang)</th>
                <th>Created By</th>
                <th>qty</th>
              </tr>
            </thead>
            <tbody>
              <% qty = 0 %>
              <% @trash_recordings.each_with_index do |trash, i| %>
                <tr>
                  <% qty += trash.qty.to_i %>
                  <td><%= i+1 %></td>
                  <td><%= trash.trash_date.try(:to_date).try(:strftime, "%d %B %Y") %></td>
                  <td><%= trash.try(:inventory).try(:name) %></td>
                  <td><%= trash.try(:user).try(:fullname) %></td>
                  <td><%= trash.try(:qty) %></td>
                </tr>
              <% end %>
              <tr>
                <td colspan="4" class="center"> Total </td>
                <td><%= qty %></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <a href='javascript:void(0)'>
          <button type='button' class='btn btn-primary btn-custom print' onclick="print()">Print</button>
        </a>
      </div>
    </div>
  </div>
</div>

<%= javascript_include_tag "trash_recordings" %>