<p id="notice"><%= notice %></p>

<p>
  <strong>Trash date:</strong>
  <%= @trash_recording.trash_date %>
</p>

<p>
  <strong>Inventory:</strong>
  <%= @trash_recording.inventory_id %>
</p>

<p>
  <strong>Created by:</strong>
  <%= @trash_recording.created_by %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @trash_recording.qty %>
</p>

<p>
  <strong>Status:</strong>
  <%= @trash_recording.status %>
</p>

<p>
  <strong>Is deleted:</strong>
  <%= @trash_recording.is_deleted %>
</p>

<%= link_to 'Edit', edit_trash_recording_path(@trash_recording) %> |
<%= link_to 'Back', trash_recordings_path %>
