.box-info {
  background-color: #fff;
  padding:20px 25px;
  color:#a3a3a3;
  height: 175px;
  margin-bottom: 25px;
}

.icon-box-info {
  margin-bottom:15px;
  color: #49bc87;
  font-size: 30px;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.text-box-info {
  color: #595d6e;
  font-size: 12pt;
  font-weight: 400;
}

.text-box-info > h5 {
  font-size:11pt;
  font-family: 'poppins-medium';
}

.text-box-info > p {
  color: #9397a7;
  font-size: 10pt;
  font-family: 'poppins-light';
}

.color-aqua {
  color:#47bac1;
}

.color-purple {
  color: #5e84fc;
}

.color-yellow {
  color: #fcc22f;
}

.card-white {
  background: #fff;
  padding: 25px;
  box-shadow: 0 0 13px 0 rgba(82,63,105,.05);
  margin-bottom:20px;
  border-radius:4px;
}

.card-white > .header-card {
  padding: .5rem 0 1.1rem 0;
  margin-bottom:30px;
}

.card-white > .header-card > h4 {
  color: #595d6e;
  font-family: "poppins-medium";
  margin-bottom: 0px;
  font-size:12pt;
}

.card-white > .header-card > p {
  color: #74788d;
  font-family: "poppins-light";
  font-size:10pt;
}

.footer {
  //margin: 0px -20px -20px;
  padding: 10px 40px;
  background: #fff;
}

.footer > h4 {
  color: #74788d;
  font-size: 14px;
  font-family: "poppins-medium";
  margin-bottom:0px;
}