.invoice-detail {
  color:#1e1e2d;
}
.bold {
  font-family: "poppins-regular";
  font-size: 10pt;
  font-weight: 600;
}

.martop {
  margin-top: 10px;
}

.table td {
  vertical-align:inherit !important;
}

.invoice-master-detail {
  color: #787878;
}

.invoice-master-detail .col-md-3 {
  padding-bottom: 10px!important;
}

.invoice-master-detail .col-md-9 {
  padding-bottom: 10px!important;
  color:#333 !important;
}

.list-transaksi {
  color: #787878;
}

.list-transaksi .col-md-4 {
  padding-bottom: 10px!important;
}

.list-transaksi .col-md-7 {
  padding-bottom: 10px!important;
  color:#333 !important;
}