@font-face {
  font-family: 'poppins-regular';
  src: url('/assets/Poppins-Regular.otf');
}

@font-face {
  font-family: 'poppins-bold';
  src: url('/assets/Poppins-Bold.otf');
}

@font-face{
  font-family: 'poppins-medium';
  src: url('/assets/Poppins-Medium.otf');
}

@font-face {
  font-family: 'poppins-light';
  src: url('/assets/Poppins-Light.otf');
}

@font-face {
  font-family: 'dot-matrix';
  src: url('/assets/DotMatrix-TwoExtended.ttf');
}

@font-face {
  font-family: 'fontello';
      src: url('/assets/fontello.eot?6709576');
      src: url('/assets/fontello.eot?6709576#iefix') format('embedded-opentype'),
           url('/assets/fontello.woff?6709576') format('woff'),
           url('/assets/fontello.ttf?6709576') format('truetype'),
           url('/assets/fontello.svg?6709576#fontello') format('svg');
      font-weight: normal!important;
}

.icon {
  font-family: "fontello";
  font-style: normal !important;
}

body {
  font-size: 13px;
  font-weight: 300px;
  background: #f2f3f8 !important;
  font-family: 'poppins-regular' !important;
}

a {
  color:#333;
  text-decoration: none;
}

a:hover {
  color:#333;
  text-decoration: none!important;
}

.main-wrapper {
  width:100%;
  min-height: 100vh;
  display: flex;
}

.left-sidebar {
  width:265px;
  height:100vh;
  background:black;
  transition:0.4s;
  position: fixed;
  background: #1e1e2d;
  flex-direction: column;
  -webkit-box-orient: vertical;
  -webkit-box-direction: noraml;
  -ms-flex-direction: column;
  display:flex;
  z-index: 9;
  overflow-y: scroll;

  &:hover {
    transition:0.4s;
  }

  &::-webkit-scrollbar-track{
  /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
  background-color: transparent;
  }

  &::-webkit-scrollbar{
    width: 5px;
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb{
    background-color: #F90; 
    background-image: -webkit-linear-gradient(45deg,
                                              rgba(255, 255, 255, .2) 25%,
                          transparent 25%,
                          transparent 50%,
                          rgba(255, 255, 255, .2) 50%,
                          rgba(255, 255, 255, .2) 75%,
                          transparent 75%,
                          transparent)
  }
}

.brand-sidebar {
  background-color:#1a1a27;
  display: flex;
  justify-content: space-between;
  padding:0px 25px;
  height: 65px;
  align-items: center;
}

.brand-sidebar > .icon-aside {
  color: #646c9a;
  font-size: 19pt;
}

.brand-sidebar > .brand-logo > a {
   font-size: 11pt !important;
}

.icon-aside {
  color:#b9b9b9;
}

.brand-sidebar a {
  color:#fff !important;
  font-size:14pt;
  font-weight: 600;
}

.wrapper-menu {
  margin:15px 0px;
}

.menu-lists {
  list-style: none;
  color:#a2a3b7;
  margin:0px;
  padding:15px 0;
}

.item-menu .link-item-menu {
  padding:9px 25px;
  min-height: 44px;
  display: flex;
  align-items: center;
  transition: 0.4s;
}

.link-item-menu:hover {
  background-color: #1b1b28;
  transition: 0.4s;
}

.link-item-menu:hover .wrap-icon-menu {
  color: #2739c1 !important;
  transition:0.4s;
}
.item-menu span {
  font-size:9pt;
  font-weight: 400;
  color:#a2a3b7;
  transition:0.4s;
}

.link-item-men .text-menu {
  text-transform: uppercase;
}

.link-item-menu:hover .text-menu {
  color:#FFF !important;
  transition: 0.4s;
}

.active-menu {
  background-color: #1b1b28;
}

.active-menu .text-menu {
  color: #FFF !important;
}

.active-menu .wrap-icon-menu {
  color: #2739c1 !important;
}

.item-menu .link-item-menu .wrap-icon-menu {
  font-size:13pt !important;
  color: #494b74;
  flex: 0 0 35px;
}

.item-menu-title {
  margin:20px 0 0 0;
  height: 40px;
  display:flex;
  align-items: center;
  padding:0 25px;
}

.item-menu-title > h4 {
  color: #4c4e6f;
  font-size: 9.5pt;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
}

.right-content {
  margin-left: 265px;
  flex: 1;
}

.navbar-content {
  display: flex;
  flex-direction: column;
  flex: 1 auto;
}

.f-header {
  padding:15px 20px;
  align-items: center;
  position: relative;
  background-color:#fff;
  border-bottom:1px solid #eff0f6;  
  min-height:65px;
  display: flex;
  justify-content: space-between;
  font-size:10pt;
}

.right-col-header {
  float:right;
}

.col-menu {
  color:#333;
  margin-left:15px;
}

.col-menu > .icon-col-menu {
  margin-left:12px;
  font-size:20px;
  color:#777;
}

.f-sub-header {
  padding:10px 20px;
  background-color: #fff;
  display:flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-list {
  margin:0px;
  padding:0px;
  list-style: none;
  display: flex;
  align-items: center;
}

.breadcrumb-list > .breadcrumb-item {
  float:left;  
  font-size:10pt;
  display:flex;
  align-items: center;
  color:#959cb6;
}

.breadcrumb-list > .breadcrumb-item:not(:first-child):before {
  content: '\f111';
  display: block;
  border-radius: 50%;
  font-family: "fontello";
  color: #959cb6;
  opacity: 0.3;
  font-size:4pt;
  font-style: normal !important;
}

.breadcrumb-list > .breadcrumb-item:first-child {
  margin:0px;
  font-size:11.5pt;
  color:#555;
  font-family: "poppins-medium";
}

.btn-custom {
  font-size:9pt !important;
}

.btn-custom:focus {
  box-shadow: 0 0 0 0.08rem rgba(0, 123, 255, 0.25) !important;
}

.btnc-default {
  color:#959cb6 !important;
  background-color: #f2f3f7 !important;
}

.btnc-default:hover {
  color:#ffffff !important;
  background-color: #5d78ff!important; 
}

.btnc-default:hover > span {
  color:#ffffff !important;
}

.main-content {
  padding: 25px;
  min-height: 75vh;
}

.addtional-menus > .wrapper {
  display: flex;
  align-items: center;
}

.additional-menus > .wrapper > i {
  margin-left: 15px;
  color: #49bc87;
  font-size: 16pt;
}

.additional-menus > .wrapper > button {
  margin-left: 10px;
}

.btn-transparent {
  background: transparent;
  color:#959cb6;

  &:hover {
    color: #5d78ff;
    background-color: #f2f3f7;
  }
}

.btn-logout {
  background-color: rgba(77, 89, 149, 0.06);
  color: #5d78ff;
}

.btn-space-icon > i {
  margin-right: 10px;
}

.warning-section {
  box-shadow: 0 0 13px 0 rgba(82,63,105,.1);
  border: 1px solid #fff;
  background-color: #fff;
  color: #282a3c;
  padding: 1rem 2rem;
  margin: 0 0 20px 0;
  border-radius: 4px;
  display:flex;
  align-items: center;
}

.warning-section > .warning-icon {
  color: #5d78ff!important;
  font-size:32px;
  margin-right: 20px
}

.warning-section > p {
  font-size:9pt;
  margin:0px;
  font-family: "poppins-light";
}

.card-table {
  padding:0px;
}

.card-table > .header-card {
  padding:0px 25px;
  display: flex;
  min-height:60px;
  align-items: center;
  border-bottom:1px solid #ebedf2;
  margin-bottom:0px;
}

.card-table > .header-card > .header-card-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #48465b;
  font-size: 11pt;
}

.header-icon {
  margin-right:10px;
  color: #5d78ff!important;
}

.card-table h4 {
  font-size:11pt;
  color:#48465b;
  margin:0px;
}

.card-table > .body-card {
  padding: 25px;
  font-size:9pt;
}

.card-table > .body-card .form-control {
  font-size: 9pt;

  &:focus {
    box-shadow: 0 0 0 0.001rem rgba(0, 123, 255, 0.25)
  }
}

.card-table button{
  font-size:9pt;
}

.card-table > .footer-card {
  padding:25px;
  border-top: 1px solid #ebedf2;
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.table {
  font-size:9pt;
  color:#595d6e !important;
}

.show-entries {
  width: 60px !important;
  display: inline-block !important;
  margin: 0px 10px;
}

.filter {
  margin-bottom: 20px;
}

.filter > .col-md-6 {
  display: flex;
  align-items: center;
}

.mar-right {
  margin-right: 10px;
}

.btn-action {
  font-size:9pt !important;
  padding:3px 6px !important;
  margin-bottom:5px !important;
}

.modal-title {
  font-size: 12pt!important;
  color: #48465b!important;
}

.loading {
  text-align: center; 
}

.loading > img {
  width:50px;
  height:50px;
}

.modal-body {
  font-size:9pt;
}

.small-title {
  font-size: 13pt;
  color: #48465b;
  font-family: "poppins-medium";
}

.center {
  text-align:center;
}

.right {
  text-align:right;
}

.white {
  color:#fff;
}

.normalize-font {
  font-size:9pt!important;
}

.description-pay {
  font-size:7pt;
}

@media print{
  .left-sidebar {display: none;}
  .navbar-content {display: none;}
  .card-white {display: none;}
  .modal-footer {display: none!important;}
  .modal-header {display: none!important;}
  .modal-dialog {position:absolute!important; top:0!important; left:0!important; max-width:none !important; width:100%!important;}
  .footer {display: none;}
}

.highlight {
  font-size:8pt!important;
  background: black;
}

.title-small {
  font-size: 9pt;
  font-family: "poppins-medium";
  margin-bottom:2px;
}

.value-small {
  font-size: 10pt;
  font-family: "poppins-light";
  margin-bottom: 10px;
}

.dropdown-select-date {
  width: 230px;
  min-height: 70px;
  padding:10px 20px;
  font-size:9pt;
  color: #959cb6;
}

.dropdown-select-date input {
  font-size: 9pt;
}