// Place all the styles related to the Order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table-invoice {
  letter-spacing: 2px;
}

.bortom {  
  border-bottom: 1px solid #ebedf2;
  margin-bottom:20px;
}

.btn-for-add-item {
  text-align:right;
  margin:10px 0px;
}

.new-customer-option {
  color:#888;
}

.add-new-customer {
  color:#666;
}

.invalid-customer {
  color: #dc3545;
  display: none;
}

.edit-order .form-control {
  font-size:9pt;
}

.borderless td, .borderless th {
  border-top: none!important;
}

.borderless th {
  border-bottom: 1px solid #dee2e6;
}

.borderless-fix td, .borderless-fix th {
  border-top: none!important;
}