#login-section {
  display:flex;
  justify-content:center;
  height:100vh;
  background-image: url('/assets/bg-login.jpg');
  background-size: cover;
}

#form-login-box {
  margin:auto 0px;
  width:430px;
}

.logo {
  padding: 0px 60px 40px;
  text-align:center;
}

.logo > img {
  padding: 0px 60px 50px;
  width: 100%;
}

.logo > .title {
  margin: 0px;
  font-size: 16pt;
  color: #595d6e;
}

.custom-btn-lg {
  font-size:10pt !important;
  padding:14px 30px !important;
}

.btn-brand {
  background-color: #5d78ff;
  border-color: #5d78ff;
  color: #fff;
  transition: 0.4s !important;
}

.btn-brand:hover {
  background-color: #3758ff;
  border-color: #2a4eff;
  color: #fff;
  transition: 0.4s !important;
}

.submit-login{
  text-align:center;
  padding-bottom:60px !important;
}

.field-custom{
  height: 46px !important;
  padding-left: 1.5rem !important;
  padding-right: 1.5rem !important;
  margin-top: 1.5rem;
  border: none !important;
  background-color: rgba(235, 237, 242, 0.4) !important;
}

.field-custom:focus {
  box-shadow: none !important;
}

.form-group .col-6 {
  padding:0px 15px !important;
}

.helper-login {
  color: #74788d !important;
  font-size:9pt !important;

  &:hover {
    color: none;
    text-decoration: none !important;
  }
}

.body-form-login .form-control {
  font-size:10pt !important;
}