<div class="table-responsive center">
  <table class="table table-hover table-bordered">
    <thead>
      <th>No</th>
      <th>Tanggal</th>
      <th>Nama Customer</th>
      <th>Nomor Pesanan / No. Surat Jalan</th>
      <th>Status</th>
      <th>Created By</th>
      <th>Total Item</th>
      <th>Qty Item</th>
      <!-- <th>Jatuh Tempo</th> -->
      <th>Cash</th>
      <th>Sisa Bayar</th>
      <th>Total Bayar</th>
    </thead>
    <% if orders.blank? %>
      <tr><td colspan="11" class="center"> Data tidak ditemukan </td></tr>
    <% end %>
    <% orders.each_with_index do |order, index| %>
      <tr>
        <% per_page = params[:per_page].present? ? params[:per_page].to_i : 10 %>
        <td><%= index+1 + (params[:page].present? ? per_page*(params[:page].to_i - 1) : 0) %></td>
        <td><%= (order.invoice_date + 7.hours).strftime("%d %b %Y %H:%M:%S") %></td>
        <td><%= order.customer_name %></td>
        <td><%= order.invoice_number %></td>
        <td><%= order.order_item_details.pluck(:status_order_item).uniq.include?("progress") ? "Progress" : "Completed" %></td>
        <td><%= order.try(:user).try(:username) %></td>
        <td><%= order.total_item %> ( <%= get_order_item(order.invoice_number) %> )</td>
        <td><%= order.total_qty_item %></td>
        <!-- <td><%= order.due_payment_date.strftime("%d %b %Y") %></td> -->
        <td><%= number_to_rupiah(order.cash) %></td>
        <td><%= number_to_rupiah(order.left_payment) %></td>
        <td><%= number_to_rupiah(order.total_invoice) %></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="6"><center>TOTAL</center></td>
      <td><%= @total_all_item %></td>
      <td><%= @total_all_qty_item %></td>
      <td><%= number_to_rupiah(@total_all_cash) %></td>
      <td><%= number_to_rupiah(@total_all_left_payment) %></td>
      <td><%= number_to_rupiah(@total_all_invoice) %></td>
    </tr>
  </table>
</div>