<% if notice.present? %>
  <div class="row">
    <div class="col-md-12">
      <div class="warning-section">
        <div class="warning-icon">
          <i class="icon icon-attention"></i>
        </div>
        <p>
          <%= notice %>
        </p>
      </div>
    </div>
  </div>
<% end %>

<div class="card-white card-table">
  <div class="header-card">
    <div class="header-card-title">
      <div>
        <span class="header-icon"><i class="icon icon-doc"></i></span>
        <span>Total Order Customer</span>
      </div>
    </div>
  </div>
  <div class="body-card">
    <%= form_tag transaction_list_customer_achievements_path, :method => 'get', :class => "form-horizontal", remote: true, :role => "form" do %>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= label_tag "Select Customer Name" %>
            <%= select_tag :customer_id, options_for_select(@customers.map{|cs| [cs.code_name, cs.id]}, params[:customer_id]), {include_blank: "-- Choose Customer --", class: "form-control"} %>
          </div>
        </div>
        <div class="col-md-3">
          <%= label_tag :start_date %>
          <%= text_field_tag :start_date, @start_date.to_date.strftime("%d-%m-%Y"), id: "filter-start-date", auto_complete: 'off', class: "form-control" %>
        </div>
        <div class="col-md-3">
          <%= label_tag :end_date %>
          <%= text_field_tag :end_date, @end_date.to_date.strftime("%d-%m-%Y"), id: "filter-end-date", auto_complete: 'off', class: "form-control" %>
        </div>
        <div class="col-md-2">
          <%= button_tag "Search", data: { disable_with: "Please wait..." }, class: "btn btn-custom btn-primary btn-achievement", style: "margin-top:25px;" %>
        </div>
      </div>
    <% end %>
    <div class="list-transactions-customer">
    </div>
  </div>
</div>
<%= javascript_include_tag 'customer_achievements' %>
<%= javascript_include_tag 'filter_date' %>