<!DOCTYPE html>
<html>
  <head>
    <title>Grees Denim</title>
    <link rel="shortcut icon" href="/assets/logo.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="main-wrapper">
      <div class="left-sidebar">
        <%= render "shared/sidebar" %>
      </div>

      <div class="right-content">
        <div class="navbar-content">
          <%= render "shared/navbar" %>
        </div>
        
        <div class="main-content">
          <%= yield %>
        </div>

        <div class="footer">
          <%= render "shared/footer" %>
        </div>
      </div>
    </div>

  </body>
</html>
